<div class="seccion">

<table><tr><td class="formulario">
<% form_tag({:controller => :manager, :action => :mtlist}, :method => :get) do %>
  <table class="display">
  <tr>
    <td>Seleccionar Estado: <%= select_tag( 'f1', options_for_select([['Todos', 't'], ['creado','creado'], ['por modificar supervisor', 'pms'], ['por modificar gerencia','pmg'], ['modificdo','modificado'], ['recibo creado','rc'], ['para remesar','pr'], ['remesado','remesado'], ['cerrado','cerrado'], ['anulado', 'anulado']]) )%></td>
    <td><div class="boton"><%= submit_tag "Filtrar", :state => 'nil' %></div></td>
  </tr>
  </table>
<% end %>
</td></tr></table>

  <div class="nbsp"></div>
  <table>
  <tr>
    <th>N° Ticket</th>
    <th>N° RP</th>
    <th>Ejecutivo Cobranza</th>
    <th>Rut</th>
    <th>Nombre Deudor</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Identificador</th>
    <th>Capital</th>
    <th>Estado</th>
    <th></th>
  </tr>
  <% if @tickets.empty? %>
  <tr>
    <td colspan= 11>No se han encontrado Tickets con el estado 
        "<%= case @estado 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          when "rc"
            "por recibo creado"
          when "pr"
            "para remesar"
          else
            @estado
        end %>".</td>
  </tr>  
  <% else %>
    <% @tickets.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.receipt_id %></td>
      <td><%= a.prepared_by %></td>
      <td><%= a.rut %>-<%= a.digit %></td>
      <td><%= a.name %></td>
      <td><%= a.principal_name %></td>
      <td><%= a.product_name %></td>
      <td><%= a.cas_id %></td>
      <td><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></td>
      <td><%= case a.state 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          when "rc"
            "por recibo creado"
          when "pr"
            "para remesar"
          else
            a.state
        end %>
      </td>
      <td><%= link_to 'Ver', a %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ger" %>
</div>

