<div class="seccion">

<table><tr><td class="marco">
<% form_tag({:controller => :manager, :action => :mtlist}, :method => :get) do %>
  <table>
  <tr>
    <td>Seleccionar Estado: <%= select_tag( 'estado', 
        options_for_select([['Todos', 't'], 
                            ['creado','creado'], 
                            ['por modificar supervisor', 'pms'], 
                            ['por modificar gerencia','pmg'], 
                            ['modificdo','modificado'], 
                            ['recibo creado','recibo creado'], 
                            ['para remesar','para remesar'], 
                            ['remesado','remesado'], 
                            ['cerrado','cerrado'], 
                            ['anulado', 'anulado']], :selected => @estado))%>
    </td>
    <td><div class="botones"><%= submit_tag "Filtrar", :state => 'nil' %></div></td>
  </tr>
  </table>
<% end %>
</td></tr></table>

  <div class="nbsp"></div>
  <table class="index">
  <tr>
    <th>N° Ticket</th>
    <th>N° RP</th>
    <th>Ejecutivo Cobranza</th>
    <th>Rut</th>
    <th>Nombre Deudor</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Identificador</th>
    <th>Capital</th>
    <th>Estado</th>
    <th></th>
  </tr>
  <% if @tickets.empty? %>
  <tr>
    <td colspan= 11>No se han encontrado Tickets con el estado 
        "<%= case @estado 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          else
            @estado
        end %>".</td>
  </tr>  
  <% else %>
    <% @tickets.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.receipt_id %></td>
      <td><%= a.prepared_by %></td>
      <td><%= a.rut %>-<%= a.digit %></td>
      <td><%= a.name %></td>
      <td><%= a.principal_name %></td>
      <td><%= a.product_name %></td>
      <td><%= a.cas_id %></td>
      <td><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></td>
      <td><%= case a.state 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          else
            a.state
        end %>
      </td>
      <td><%= link_to 'Ver', a %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ger" %>
</div>

