<div class="seccion">
  <table class="index">
  <tr>
    <th><%= sortable "prepared_by", "Preparado por" %></th>
    <th><%= sortable "id", "N° Ticket" %></th>
    <th><%= sortable "rut" %></th>
    <th><%= sortable "name", "Nombre Deudor" %></th>
    <th><%= sortable "cas_id", "Identificador" %></th>
    <th><%= sortable "principal_id", "Mandante" %></th>
    <th><%= sortable "product_id", "Producto" %></th>
    <th></th>
  </tr>
  <% if @tickets.empty? %> 
    <tr><td colspan=8>No hay Tickets para modificar.</td></tr>
  <% else %>
    <% @tickets.each do |a| %>
    <tr>
      <td><%= a.prepared_by %></td>
      <td><%= a.id %></td>
      <td><%= a.rut %>-<%= a.digit %></td>
      <td><%= a.name %></td>
      <td><%= a.cas_id %></td>
      <td><%= a.principal_name %></td>
      <td><%= a.product_name %></td>
      <td><%= link_to 'Editar', edit_ticket_path(a) %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ger" %>
</div>

