<div class="seccion">
  <div class="subtit">
    Recibos de Pago para enviar a Terreno:
  </div>
  <table>
  <tr>
    <th>Preparado Por</th>
    <th>N° RP</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Fecha</th>
    <th>Capital</th>
    <th>Imprs.</th>
    <th>selecc.</th>
    <th></th>
  </tr>
  <% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.user_name %></td>
    <td><%= receipt.id %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Ver', receipt %></td>
  </tr>
  <% end %>
  </table>


  <div class="subtit">
    &nbsp;<p>Recibos de Pago enviados a Terreno, en espera de Recepci&oacute;nados:
  </div>
  <table>
  <tr>
    <th>Preparado Por</th>
    <th>N° RP</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Fecha</th>
    <th>Capital</th>
    <th>Imprs.</th>
    <th></th>
  </tr>
  <% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.user_name %></td>
    <td><%= receipt.id %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Ver', receipt %></td>
  </tr>
  <% end %>
  </table>
</div>

<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => 'sup' %>
</botones>
