<div class="seccion">

<table><tr><td class="marco">
<% form_tag({:controller => :supervisor, :action => :stlist}, :method => :get) do %>
  <table>
  <tr>
    <td>Mandante: <%= select_tag('mandante', 
      options_for_select([['Todos', 0]] + @principals.collect{|p| [p.name, p.id]}, :selected => @mandante))%></td>
    <td>Estado: <%= select_tag('estado', 
      options_for_select([['Todos', 't'], 
                          ['creado','creado'], 
                          ['por modificar supervisor', 'pms'], 
                          ['por modificar gerencia','pmg'], 
                          ['modificado','modificado'], 
                          ['recibo creado','recibo creado'],  
                          ['anulado', 'anulado']], :selected => @estado))%>
    </td>
    <td><div class="actions"><%= submit_tag "Filtrar", :state => 'nil' %></div></td>
  </tr>
  </table>
<% end %>
</td></tr></table>

  <div class="nbsp"></div>
  <table class="index">
  <tr>
    <th>N° Ticket</th>
    <th>N° RP</th>
    <th>Preparado por</th>
    <th>Rut</th>
    <th>Nombre Deudor</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Identificador</th>
    <th>Capital</th>
    <th>Estado</th>
    <th colspan="2"></th>
  </tr>
  <% if @tickets.nil? or @tickets.empty?%>
    <tr>
      <td colspan= 12>No se han encontrado Tickets.</td>
    </tr>  
  <% else %>
   <% @tickets.each do |a| %>
   <tr>
    <td><%= a.id %></td>
    <td><%= a.receipt_id %></td>
    <td><%= a.prepared_by %></td>
    <td><%= a.rut %>-<%= a.digit %></td>
    <td><%= a.name %></td>
    <td><%= a.principal_name %></td>
    <td><%= a.product_name %></td>
    <td><%= a.cas_id %></td>
    <td><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></td>
    <td><%= case a.state 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          else
            a.state
        end %>
    </td>
    <td><%= link_to 'Ver', a %></td>   
    <td><%= if (a.state == "creado" or a.state == "pms")
          link_to 'Editar', edit_ticket_path(a) 
         end %>
    </td>
   </tr>
   <% end %>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Crear Ticket en blanco', new_ticket_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => 'sup' %>
</botones>

