<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
      <h2>Error: No es posible crear el Perfil. Corregir lo siguiente:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

   Nombre:<br>
   <%= f.text_field :name, :size => "35" %>
   <p>
   Descripción: <br>
   <%= f.text_area :description, :size => "40x2" %>
   <p>
   Estado: <br>
   <%= f.check_box :state %> Activo
   <p>
   <%= f.submit "Grabar"%>
<% end %>

