<seccion>
<table><tr><td class="formulario">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <div class="field">
    Nombre:
  </div>
  <div class="field_txt">
    <%= @profile.name %>
  </div>

  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @profile.description %>
  </div>

  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @profile.state %>Activo<% else %>Inactivo<% end %>
  </div>

</td></tr></table>
</seccion>

<botones>
  <% if current_user.profile_id==8 %> 
    <%= link_to 'Editar', edit_profile_path(@profile) %>
  <% end %>
  <%= link_to 'Listado de Perfiles', profiles_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "adm" %>
</botones>

