<div class="seccion">
  <ul>
    <li><%= link_to "Perfiles", profiles_path %></li>
    <li><%= link_to "Productos", products_path %>
    <li><%= link_to "Mandantes", principals_path %></li>
    <li><%= link_to "Emisores", emitters_path %></li>
    <li><%= link_to "Grupos", groups_path %></li>
    <li><%= link_to "Usuarios", users_path %>
    <li><%= link_to "Tipos de Cobranza", collection_types_path %>
    <li><%= link_to "Formas de Pago", payment_forms_path %>
    <li><%= link_to "Políticas de Pago", payment_policies_path %>
    <li><%= link_to "Flujos de Pago", payment_flows_path %>
    <li><%= link_to "Acuerdos de Pago", payment_agreements_path %>
    <li><%= link_to "Periodos de Pago", payment_periods_path %>
    <li><%= link_to "Parámetros", parameters_path %>
  </ul>
</div>


