<div class="seccion">
  <div class="subtit">
    Códigos sensibles:
  </div>
  <ul>
    <li><%= link_to "Listado de Perfiles", dprofiles_path %></li>
    <li><%= link_to "Listado de Flujos de Pago", dpayment_flows_path %></li>
    <li><%= link_to "Listado de Parámetros", dparameters_path %></li>
  </ul>

  <div class="subtit">
    Tablas de Códigos:
  </div>
  <ul>
    <li><%= link_to "Listado de Comunas", dcomunas_path %></li>
    <li><%= link_to "Listado de Emisores", demitters_path %></li>
    <!-- <li><%= link_to "Listado de Periodos de Pago", dpayment_periods_path %></li>-->
  </ul>

  <div class="subtit">
    Listados generales:
  </div>
  <ul>
    <li><%= link_to "Listado de Grupos", dgroups_path %></li>
    <li><%= link_to "Listado de Mandantes", dprincipals_path %></li>
    <li><%= link_to "Listado de Usuarios", dusers_path %>
    <li><%= link_to "Listado de Ejecutivos de Terreno", dfield_users_path %>
    <li><%= link_to "Listado de Productos", dproducts_path %>
    <li><%= link_to "Listado de Tipos de Cobranza", dcollection_types_path %>
    <li><%= link_to "Listado de Formas de Pago", dpayment_forms_path %>
    <li><%= link_to "Listado de Políticas de Pago", dpayment_policies_path %>
    <li><%= link_to "Listado de Acuerdos de Pago", dpayment_agreements_path %>
  </ul>

  <div class="subtit">
    Registros:
  </div>
  <ul>
    <li><%= link_to "Listado de Todos los Casos", dcasos_path %></li>
    <li><%= link_to "Listado de Todos los Tickets", dtickets_path %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", dreceipts_path %></li>
  </ul>
</div>
