<seccion>
  <ul>
    <li><%= link_to "Crear Ticket", search_path %></li>
    <li><%= link_to "Listado de Todos los Tickets", tickets_path %></li>
    <li><%= link_to "Crear Recibo de Pago", '#' %></li>
    <li><%= link_to "Recibos de Pago Abiertos", '#' %></li>
    <li><%= link_to "Recibos de Pago Rechazados", '#' %></li>
    <li><%= link_to "Rendir Recibos de Pago a Supervisor", '#' %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", '#' %></li>
  </ul>
</seccion>
