<div class="seccion">
  <ul>
    <li><%= link_to "Crear Ticket", search_path %></li>
    <li><%= link_to "Listado de Tickets", tickets_path %></li>
    <li><%= link_to "Crear Recibo de Pago", listk_path %></li>
    <li><%= link_to "Recibos de Pago Abiertos", lisrsa_path %></li>
    <li><%= link_to "Recibos de Pago Rechazados", lisrsr_path %></li>
    <li><%= link_to "Rendir Recibos de Pago a Supervisor", '#' %></li>
    <li><%= link_to "Listado de Recibos de Pago", receipts_path %></li>
  </ul>
</div>

