<div class="seccion">

<% if (not @rech.nil? and not @rech.empty?) %> 
  <div id="alerta">
    <h2>IMPORTANTE:</h2><ul>
      <li>Existen Recibos de Pago Rechazados por Supervisores.</li></ul>
  </div>
<% end %>

  <ul>
    <li><%= link_to "Recibos de Pago para gestionar en Terreno", :controller => "terreno", :action => "trrecp" %></li>
    <li><%= link_to "Recibos de Pago en Terreno", :controller => "terreno", :action => "trcerr" %></li>
    <li><%= link_to "Rendir Recibos de Pago a Supervisores", :controller => "receipts", :action => "jtr", :ac => "rend" %></li>
    <li><%= link_to "Recibos de Pago Rechazados por Supervisores", :controller => "receipts", :action => "jtr", :ac => "rech" %></li>
    <li><%= link_to "Listado de Recibos de Pago", :controller => "terreno", :action => "trlist" %></li>
  </ul>

  <div class="nbsp"></div>
  <ul>
    <li><%= link_to 'Crear Ticket', new_ticket_path %></li>
    <li><%= link_to "Listado de Tickets", :controller => "terreno", :action => "ttlist" %></li>
    <li><%= link_to "Crear Recibo de Pago", listk_path %></li>
    <li><%= link_to "Cerrar Recibos de Pago", lisra_path %></li>
  </ul>



</div>


