<div class="seccion">

<% if (not @rech.nil? and not @rech.empty?) %> 
  <div id="alerta">
    <h2>IMPORTANTE:</h2><ul>
      <li>Existen Recibos de Pago Rechazados por Tesorer&iacute;a.</li></ul>
  </div>
<% end %>

  <ul>
    <li><%= link_to "Tickets por Modificar", :controller => "supervisor", :action => "stmod" %></li>
    <li><%= link_to "Listado de Tickets", :controller => "supervisor", :action => "stlist" %></li>
  </ul>
  <div class="nbsp"></div>
  <ul>
    <li><%= link_to "Recepcionar Recibos de Pago de Cobranza", :controller => "receipts", :action => "sup", :ac => "recpc" %></li>
    <li><%= link_to "Recepcionar Recibos de Pago de Terreno", :controller => "receipts", :action => "sup", :ac => "recpt" %></li>
    <li><%= link_to "Generar PDF de Recibo de Pago", :controller => "supervisor", :action => "stlist" %></li>
    <li><%= link_to "Rendir Recibos de Pago a Tesoreria", :controller => "receipts", :action => "sup", :ac => "rend" %></li>
  </ul>
  <div class="nbsp"></div>
  <ul>
    <li><%= link_to "Ajustar Recibos de Pago en Terreno", :controller => "supervisor", :action => "sajustar" %></li>
    <li><%= link_to "Recibos de Pago para Anular", :controller => "supervisor", :action => "sanular" %></li>
    <!-- <li><%= link_to "Recibos de Pago Rechazados por Terreno", :controller => "receipts", :action => "sup", :ac => "rechtr" %></li> -->
    <li><%= link_to "Recibos de Pago Rechazados por Tesoreria", :controller => "receipts", :action => "sup", :ac => "rechts" %></li>
    <li><%= link_to "Listado de Recibos de Pago", :controller => "supervisor", :action => "srlist" %></li>
  </ul>
</div>

