<div class="seccion">
  <ul>
    <li><%= link_to "Recepcionar Recibos de Pago de Supervisores", :controller => "receipts", :action => "tsr", :ac => "recpc" %></li>
    <li><%= link_to "Recepcionar Recibos de Pago de Terreno", :controller => "receipts", :action => "tsr", :ac => "recpt" %></li>
    <li><%= link_to "Recepcionar Recibos de Pago de Gerencia", :controller => "receipts", :action => "tsr", :ac => "recpg" %></li>

    <li><%= link_to "Remesar", :controller => "finance", :action => "frmmp" %></li>
    <li><%= link_to "Listado de Remesas", :controller => "finance", :action => "frmlist" %></li>
    <li><%= link_to "Listado de Todos los Tickets", :controller => "finance", :action => "ftlist" %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", :controller => "finance", :action => "frlist" %></li>
    <li><%= link_to "Listado de Honorarios TechMill por facturar", :controller => "finance", :action => "fhlist" %></li>
  </ul>
</div>


