<div class="seccion">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <table><tr><td class="marco">
    <div class="field">
      Mensaje:
    </div>
    <div class="field_txt">
      <%= @cancellation.message %>
    </div>
    <div class="field">
      Descripción:
    </div>
    <div class="field_txt">
      <%= @cancellation.description %>&nbsp;
    </div>
    <div class="field">
      Estado:
    </div>
    <div class="field_txt">
      <% if @cancellation.state %>Activo<% else %>Inactivo<% end %>
    </div>
  </td></tr></table>
</div>

<div class="botones">
  <% if current_user.profile_id==7 %>  <!--  Administrador --> 
    <%= link_to 'Listado de Tipos de Anulaciones', cancellations_path %>
    <%= link_to 'Página Principal', :controller => "sessions", :action => "adm" %>
  <% elsif current_user.profile_id==8 %> <!-- Designer -->
    <%= link_to 'Editar', edit_profile_path(@profile) %>
    <%= link_to 'Listado de Tipos de Anulaciones', dprofiles_path %>
    <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
  <% end %>
</div>
