<div class="seccion">
  <table class="index">
  <tr>
    <th><%= sortable "id", "N° Caso" %><br>id</th>
    <th><%= sortable "state", "Estado" %><br>state</th>
    <th><%= sortable "cas_id", "Ident." %><br>cas_id</th>
    <th><%= sortable "principal_id","Mandante" %><br>principal_id</th>
    <th><%= sortable "collection_type_id","Tipo cobranza" %><br></th>
    <th><%= sortable "product_id" %><br></th>
    <th><%= sortable "rut" %></th>
    <th><%= sortable "name" %><br></th>
    <th><%= sortable "alloc_date","Fecha asignacion" %><br></th>
    <th><%= sortable "expir_date","Vencimto." %><br></th>
    <th><%= sortable "capital" %></th>
    <th></th>
  </tr>
  <% @assignments.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.state %></td>
    <td><%= a.cas_id %></td>
    <td><%= a.principal.name %></td>
    <td><%= a.collection_type.name %></td>
    <td><%= a.product.name %></td>
    <td><%= a.rut %>-<%= a.digit %></td>
    <td><%= a.name %></td>
    <td><%= a.alloc_date %></td>
    <td><%= a.expir_date %></td>
    <td><%= a.capital %></td>
    <td><%= link_to 'Eliminar', :controller => 'designer', :action => 'del_reg', :id => a, :reg => 'caso' %>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>
