<div class="seccion">
  <table>
  <tr>
    <th><%= link_to "N° Caso", :sort => "id" %></th>
    <th><%= link_to "Estado", :sort => "state" %></th>
    <th><%= link_to "Identificador", :sort => "state" %></th>
    <th><%= link_to "Rut", :sort => "state" %></th>
    <th><%= link_to "Capital", :sort => "state" %></th>
  </tr>
  <% @assignments.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.state %></td>
    <td><%= a.cas_id %></td>
    <td><%= a.rut %>-<%= a.digit %></td>
    <td><%= a.capital %></td>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>

