<div class="seccion">
  <table class="index">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "name", "Nombre" %></th>
    <th><%= sortable "state", "Estado" %></th>
    <th colspan=3></th>
  </tr>
  <% @collection_types.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.name %></td>
    <td><%= a.state %>
    <td><%= link_to 'Ver', a %></td>
    <td><%= link_to 'Editar', edit_collection_type_path(a) %></td>
    <td><%= link_to 'Eliminar', :controller => 'designer', :action => 'del_reg', :id => a, :reg => 'collection_type' %></td>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Crear Tipo de Cobranza', new_collection_type_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>
