<div class="seccion">
  <table class="index">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "name", "Nombre" %></th>
    <th><%= sortable "state", "Estado" %></th>
  </tr>
  <% @comunas.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.name %></td>
    <td><%= a.state %>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>
