<div class="seccion">
  <table class="index">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "name", "Nombre" %></th>
    <th><%= sortable "state", "Estado" %></th>
    <th colspan=3></th>
  </tr>
  <% @payment_forms.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.name %></td>
    <td><%= a.state %>
    <td><%= link_to 'Ver', a %></td>
    <td><%= link_to 'Editar', edit_payment_form_path(a) %></td>
    <td><%= link_to 'Eliminar', :controller => 'designer', :action => 'del_reg', :id =>a, :reg =>'payment_form'%></td>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Crear Forma de Pago', new_payment_form_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>
