<div class="seccion">
  <table>
  <tr>
    <th><%= sortable "id", "N° Ticket" %></th>
    <th><%= sortable "prepared_by", "Ejecutivo Cobranza" %></th>
    <th><%= sortable "rut" %></th>
    <th><%= sortable "name", "Nombre Deudor" %></th>
    <th><%= sortable "cas_id", "Identificador" %></th>
    <th><%= sortable "principal_id", "Mandante" %></th>
    <th><%= sortable "product_id", "Producto" %></th>
    <th><%= sortable "capital" %></th>
    <th><%= sortable "state", "Estado" %></th>
    <th colspan=2></th>
  </tr>
  <% @tickets.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.prepared_by %></td>
    <td><%= a.rut %>-<%= a.digit %></td>
    <td><%= a.name %></td>
    <td><%= a.cas_id %></td>
    <td><%= a.principal_name %></td>
    <td><%= a.product_name %></td>
    <td><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></td>
    <td><%= a.state %>
    <td><%= link_to 'Ver', a %></td>
    <!--<td><%= link_to 'Eliminar', a, :confirm => 'Are you sure?', :method => :delete %>-->
    <td><%= link_to 'Eliminar', :controller => 'designer', :action => 'del_reg', :id => a, :reg => 'ticket' %>
</td>
  </tr>
  <% end %>
  </table>
</div>
<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>

