<table><tr><td class="marco">
<%= form_for(@group) do |f| %>
  <%= render "shared/error_messages", :target => @group, :text => "el Grupo" %>  
  <div class="field">
   Nombre:<br>
   <%= f.text_field :name, :size => "40" %>
  </div>
  <div class="field">
   Descripción: <br>
   <%= f.text_area :description, :size => "40x2" %>
  </div>
  <div class="field">
   Carteras:   
  </div>
  <% for cartera in Cartera.where("state = true").order("principal_id ASC") %>
    <div>
      <%= check_box_tag "group[cartera_ids][]", cartera.id, @group.carteras.include?(cartera) %>
       <%= cartera.principal.name %> - <%= cartera.product.name %>
    </div>
  <% end %>
  <div class="field">
   Estado: <br>
   <%= f.check_box :state %> Activo
  </div>
  <div class="actions">
    <%= f.submit "Grabar"%>
  </div>
<% end %>
</td></tr></table>

