<div class="seccion">
 <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
 <table><tr><td class="marco">
  <div class="field">
    Nombre:
  </div>
  <div class="field_txt">
    <%= @group.name %>
  </div>
  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @group.description %>&nbsp;
  </div>
  <div class="field">
    Carteras:
  </div>
  <div class="field_txt">
    <% @group.cartera_ids.each do |a| %>
      <% @cartera_list.each do |cartera| %>
        <% if a == cartera.id %>
          <%= cartera.principal.name %> - <%= cartera.product.name %><br>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @group.state %>Activo<% else %>Inactivo<% end %>
  </div>
 </td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==7 %>
  <%= link_to 'Editar', edit_group_path(@group) %> 
  <%= link_to 'Listado de Grupos', groups_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %>
  <%= link_to "Listado de Todos los Grupos", dgroups_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>


