<seccion>
  <table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Raz&oacute;n Social</th>
    <th>Rut</th>
    <th>Estado</th>
    <% if current_user.profile_id==7 %> 
      <th></th>
    <% elsif current_user.profile_id==8 %>
      <th colspan=2></th>
    <% end %>
  </tr>
  <% @principals.each do |principal| %>
  <tr>
    <td><%= principal.id %></td>
    <td><%= principal.name %></td>
    <td><%= principal.social_reason %></td>
    <td><%= principal.rut %>-<%= principal.digit %></td>
    <td><% if principal.state %>Activo<% else %>Inactivo<% end %></td>
    <td><%= link_to 'Ver', principal %></td>
    <% if current_user.profile_id==8 %> 
      <td><%= link_to 'Editar', edit_principal_path(principal) %></td>
    <% end %>
  </tr>
  <% end %>
  </table>
</seccion>

<botones>
  <%= link_to 'Crear Mandante', new_principal_path %>
  <%= render 'shared/pp_adm_dsg' %>
</botones>

