<div class="seccion">
<% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
<table><tr><td class="marco">
  <div class="field">
    Mandante:
  </div>
  <div class="field_txt">
    <%= @payment_policy.principal.name %>
  </div>
  <div class="field">
    Producto:
  </div>
  <div class="field_txt">
    <%= @payment_policy.product.name %>
  </div>
  <div class="field">
    Tipo de Cobranza:
  </div>
  <div class="field_txt">
    <%= @payment_policy.collection_type.name %>
  </div>
  <div class="field">
    Honorarios:
  </div>
  <div class="field_txt">
    <%= @payment_policy.fee %>&nbsp;
  </div>
  <div class="field">
    Requiere gastos judiciales:
  </div>
  <div class="field_txt">
    <% if @payment_policy.legal_costs %>Sí<% else %>No<% end %>
  </div>
  <div class="field">
    Permite pago en cuotas:
  </div>
  <div class="field_txt">
    <% if @payment_policy.installment %>Sí<% else %>No<% end %>
  </div>
  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @payment_policy.description %>&nbsp;
  </div>
  <div class="field">
    Formas de Pago:   
  </div>
  <div class="field_txt">
    <% @payment_policy.payment_form_ids.each do |p| %>
      <% @payment_form_list.each do |f| %>
        <% if p == f.id %><%= f.name %><br><% end %>
      <% end %>
    <% end %>&nbsp;
  </div>
  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @payment_policy.state %>Activo<% else %>Inactivo<% end %>
  </div>
</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==7 %>
  <%= link_to 'Editar', edit_payment_policy_path(@payment_policy) %> 
  <%= link_to 'Listado de Políticas de Pago', payment_policies_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %>
  <%= link_to "Listado de Todas las Politicas de Pago", dpayment_policies_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>

