<table><tr><td class="marco">
<%= form_for(@payment_agreement) do |f| %>
  <%= render "shared/error_messages", :target => @payment_agreement, :text => "el Acuerdo de Pago" %>  
  <div class="field">
   Nombre:<br>
   <%= f.text_field :name, :size => "40" %>
  </div>
  <div class="field">
   Descripción: <br>
   <%= f.text_area :description, :size => "40x2" %>
  </div>
  <div class="field">
    Flujo de Pago: <br>
    <%= f.collection_select :payment_flow_id, PaymentFlow.all, :id, :name %>
  </div>
  <div class="field">
   Estado: <br>
   <%= f.check_box :state %> Activo
  </div>
  <div class="actions">
    <%= f.submit "Grabar"%>
  </div>
<% end %>
</td></tr></table>
