<div class="seccion">
<table><tr><td class="formulario">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <div class="field">
    Nombre:
  </div>
  <div class="field_txt">
    <%= @payment_agreement.name %>
  </div>

  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @payment_agreement.description %>&nbsp;
  </div>

  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @payment_agreement.state %>Activo<% else %>Inactivo<% end %>
  </div>

</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==7 %>  <!--  Administrador --> 
  <%= link_to 'Listado de Acuerdos de Pago', payment_agreements_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %> <!-- Designer -->
  <%= link_to 'Editar', edit_payment_agreement_path(@payment_agreement) %> 
  <%= link_to "Listado de Todos los Acuerdos de Pago", dpayment_agreements_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>
