  <tr>
    <td>Fecha solicitud:</td>
    <td class="ro"><div class="sh"><% if not @ticket.adjust_sup_time.nil? %><%= @ticket.adjust_sup_time.strftime("%d-%b-%Y") %><% end %>&nbsp;</div></td><td></td>
    <td>Hora solicitud:</td>
    <td class="ro"><div class="sh"><% if not @ticket.adjust_sup_time.nil? %><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.<% end %>&nbsp;</div></td>
  </tr>
  <tr>
    <td colspan=3>Solicita modificación a Gerencia:</td>
    <td class="ro"><div class="sn"><% if @ticket.adjust_mgt %>Sí<% else %>No<% end %></div></td>
  </tr>
  <tr>
    <td>Descripción de la modificación solicitada:</td>
    <td class="ro" colspan="4"><div class="lgh"><%= @ticket.adjust_mgt_des %></div></td>
  </tr>
  <% if @ticket.adjust_mgt %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><% if not @ticket.adjust_mgt_time.nil? %><%= @ticket.adjust_mgt_time.strftime("%d-%b-%Y") %><% end %>&nbsp;</div></td><td></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><% if not @ticket.adjust_mgt_time.nil? %><%= @ticket.adjust_mgt_time.strftime("%H:%M") %> hrs.<% end %>&nbsp;</div></td>
    </tr>
  <% end %>
  </table>

  <div class="actions">
    <%= f.submit "Modificar Ticket"%>
  </div> 
