<table><tr><td class="formulario">
<%= form_for(@ticket) do |f| %>
  <%= render "shared/error_messages", :target => @ticket, :text => "el Ticket" %>  

  <table class="display">
  <tr>
    <td>Ticket N°:</td><td class="ro"><div class="sh"><%= @ticket.id %></div></td>
    <th rowspan=3 width=16></th>
    <td>Rut:</td><td><%= f.text_field :rut, :size => "10"%> - <%= f.text_field :digit, :size => "1"%></td>
  </tr>
  <tr>
    <td>Identificador:</td><td><%= f.text_field :cas_id, :size => "14"%></td>
    <td>Nombre:</td><td><%= f.text_field :name, :size => "37"%></td>
  </tr>
  <tr>
    <td width="130">Tipo de Cobranza:</td><td width="70"><%= f.collection_select :collection_type_id, CollectionType.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
    <td width="110">Mandante:</td><td><%= f.collection_select :principal_id, Principal.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4"><%= f.text_area :payment_description, :size => "59x2" %></td>
  </tr>
  <tr>
    <td>Capital:</td><td><%= f.text_field :capital, :size => "8" %></td>
    <th rowspan=7 width=16></th>
    <td>Producto:</td><td><%= f.collection_select :product_id, Product.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  <tr>
    <td>Interés Mora:</td><td class="ro"><div class="pp"><%= @ticket.arrear_interest %></div></td>
    <td>Número:</td><td><%= f.text_field :number, :size => "37" %></td>
  </tr>
  <tr>
    <td>Interés Plazo:</td><td class="ro"><div class="pp"><%= @ticket.term_interest %></div></td>
    <td>Emisor:</td><td><%= f.text_field :emitter, :size => "37" %></td>
  </tr>
  <tr>
    <td>Honorarios:</td><td class="ro"><div class="pp"><%= @ticket.fee  %></div></td>
    <td>Cuenta Corriente:</td><td><%= f.text_field :ctacte, :size => "37"%></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td><td><%= f.text_field :shipping_costs, :size => "8" %></td>
    <td>Vencimiento:</td><td><%= f.date_select :expir_date, :order => [:day, :month, :year] %></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td><td><%= f.text_field :legal_costs, :size => "8" %></td>
    <td>Boleta N°: </td><td><%= f.text_field :ballot, :size => "37" %></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>Cuota:</td><td><%= f.text_field :quota_num, :size => "2" %> de <%= f.text_field :total_q, :size => "3" %></td>
  </tr>
  <% if not @ticket.adjust.nil? %> 
  <tr>
    <td>Ajuste:</td><td class="ro"><div class="pp"><%= @ticket.adjust%></div></td>
    <th rowspan=3 width=16></th>
    <td rowspan="2">Observación ajuste:</td><td class="ro" rowspan="2"><div class="w"><%= @ticket.adjust_obs %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Nuevo Total a Pagar:</td><td class="ro"><div class="pp"><%= @ticket.new_total_pay %>&nbsp;</div></td>
    <td></td>
  </tr>
  <tr>
    <td>Fecha ajuste:</td><td class="ro"><div class="sh"><%= @ticket.adjust_time.strftime("%d-%b-%Y") %></div></td>
    <td>Ajustado por:</td><td class="ro"><div><%= @ticket.adjust_by %></div></td>
  </tr>
  <% end %>
  <tr><td height="20"></td></tr>
  <tr>
    <td>Preparado por:</td><td colspan=4 class="ro"><div class="n"><%= @ticket.prepared_by %></div></td>
  </tr>
  <tr>
    <td colspan=3>Entrega documento a deudor:</td><td><%= f.check_box :doc_delivery %> Sí</td>
  </tr>
  <tr><td height="20"></td></tr>
  <tr>
    <td colspan=3>Solicita modificación a Supervisor:</td><td><%= f.check_box :adjust_sup %> Sí</td>
  </tr>
  <tr>
    <td>Descripción de la modificación solicitada:</td><td colspan="4"><%= f.text_area :adjust_sup_des, :size => "59x2" %></td>
  </tr>
  <% if @ticket.adjust_sup_time %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%d-%b-%Y") %></div></td><td></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.</div></td>
    </tr>
  <% end %>
  </table>

  <div class="actions">
    <%= f.submit "Grabar"%>
  </div>  

<% end %>
</td></tr></table>


