  <% if @ticket.adjust_sup_time %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%d/%m/%Y") %></div></td><td></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.</div></td>
    </tr>
  <% end %>
  <tr>
    <td colspan=3>Solicita modificación a Gerencia:</td>
    <td><%= f.check_box :adjust_mgt %> Sí</td>
  </tr>
  <tr>
    <td>Descripción de la modificación solicitada:</td>
    <td colspan="4"><%= f.text_area :adjust_mgt_des, :size => "60x2" %></td>
  </tr>
  <% if @ticket.adjust_mgt_time %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%d/%m/%Y") %></div></td><td></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%H:%M") %> hrs.</div></td>
    </tr>
  <% end %>
  </table>

