  <table class="formulario">
  <tr>
    <td>Ticket N°:</td><td class="ro"><div class="sh"><%= @ticket.id %></div></td>
    <th rowspan=4 width=16></th>
    <td>Estado:</td><td class="ro"><div class="n"><%= case @ticket.state 
          when "pms"
            "por modificar supervisor"
          when "pmg"
            "por modificar gerencia"
          else
            @ticket.state
        end %></div></td>
  </tr>
  <tr>
    <td>Recibo Pago N°:</td><td class="ro"><div class="sh"><%= @ticket.receipt_id %>&nbsp;</div></td>
    <td>Rut:</td>
      <% if @ticket.assignment_id.nil? %>
      <td><%= f.text_field :rut, :size => "10"%> - <%= f.text_field :digit, :size => "1"%>
      <% else %><td class="ro"><div class="sh"><%= @ticket.rut %>-<%= @ticket.digit %></div><% end %></td>
  </tr>
  <tr>
    <td width="140">Identificador:</td>
      <% if @ticket.assignment_id.nil? %><td><%= f.text_field :cas_id, :size => "14"%>
      <% else %><td class="ro"><div class="sh"><%= @ticket.cas_id %></div><% end %></td>
    <td width="130">Nombre:</td><td><%= f.text_field :name, :size => "35"%></td>
  </tr>
  <tr>
    <td>Tipo de Cobranza:</td>
    <td class="ro"><div class="sh"><%= @ticket.collection_type_name %>&nbsp;</div></td>
    <td>Mandante:</td>
    <td class="ro"><div class="n"><%= @ticket.principal_name %></div></td>    
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4"><%= f.text_area :payment_description, :size => "61x2" %></td>
  </tr>
  <tr>
    <td>Período de Pago:</td><td><%= f.collection_select :pay_period, PaymentPeriod.where('state = true').order('name ASC'), :name, :name %></td>
    <th rowspan=9 width=16></th>
    <td>Producto:</td>
    <td class="ro"><div class="n"><%= @ticket.product_name %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Capital:</td><td><%= f.text_field :capital, :size => "8" %></td>
    <td>Número:</td><td><%= f.text_field :number, :size => "35" %></td>
  </tr>
  <tr>
    <td>Interés Mora:</td><td><%= f.text_field :arrear_interest, :size => "8", :value => 0 %></td>
    <td>Emisor:</td><td>
    <% if @ticket.assignment_id.nil? %>
      <%= f.collection_select :emitter, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %>
    <% else %>
      <%= f.text_field :emitter, :size => "35" %>
    <% end %>
</td>
  </tr>
  <tr>
    <td>Interés Plazo:</td><td><%= f.text_field :term_interest, :size => "8", :value => 0 %></td>
    <td>Cuenta Corriente:</td><td><%= f.text_field :ctacte, :size => "35"%></td>
  </tr>
  <tr>
    <td>Honorarios:</td>
    <% if current_user.profile_id==1 %>
      <td class="ro"><%= f.text_field :fee, :size => "8", :readonly => true, :value => @ticket.fee %></td>
    <% else %> 
      <td><%= f.text_field :fee, :size => "8"%></td>
    <% end %> 
    <td>Vencimiento:</td><td><%= f.date_select :expir_date, 
         {:order => [:day, :month, :year], 
         :start_year => (Time.now - 7.years).year, 
         :end_year =>(Time.now + 2.years).year,
         :prompt => {:month => '- Mes -', :day => '- Día -', :year => '- Año -'} } %></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td><td><%= f.text_field :shipping_costs, :size => "8", :value => 0 %></td>
    <td>Boleta N°: </td><td><%= f.text_field :ballot, :size => "35" %></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td><td><%= f.text_field :legal_costs, :size => "8", :value => 0 %></td>
    <td>Cuota:</td><td><%= f.text_field :quota_num, :size => "2" %> de <%= f.text_field :total_q, :size => "3" %></td>
  <tr>
    <% if (@ticket.state=='modificado' and (not @ticket.adjust_sup_val.nil? or not @ticket.adjust_mgt_val.nil?))%>
      <td>Ajuste:</td>
      <td class="ro">
        <%= f.text_field :adjust_ejc_val, :size => "8", :readonly => true, :value => @ticket.adjust_ejc_val unless @ticket.adjust_ejc_val.nil? %>
        <%= f.text_field :adjust_sup_val, :size => "8", :readonly => true, :value => @ticket.adjust_sup_val unless @ticket.adjust_sup_val.nil? %>
        <%= f.text_field :adjust_mgt_val, :size => "8", :readonly => true, :value => @ticket.adjust_mgt_val unless @ticket.adjust_mgt_val.nil? %>
      </td>
      <td>Obs. ajuste:</td>
      <td class="ro"><div class="n"><%= @ticket.adjust_obs %></div></td>
    <% else %>
      <td>Ajuste:</td>
      <td>
        <% if current_user.profile_id==1 %> <!-- Eje Cobranza -->
          <%= f.text_field :adjust_ejc_val , :size => "8"%>
        <% elsif current_user.profile_id==2 %> <!-- Supervisor -->
          <%= f.text_field :adjust_sup_val , :size => "8"%>
        <% elsif current_user.profile_id==6 %> <!-- Gerencia -->
          <%= f.text_field :adjust_mgt_val , :size => "8"%>
        <% end %>
      </td>
      <td>Obs. ajuste:</td><td><%= f.text_area :adjust_obs , :size => "33x2"%></td>
    <% end %>
  </tr>
  <% if not @ticket.adjust_time.nil? %>
    <tr>
      <td>Fecha ajuste:</td><td class="ro"><div class="sh"><%= @ticket.adjust_time.strftime("%d/%m/%Y") %></div></td>
      <td>Ajustado por:</td><td class="ro"><div class="n"><%= @ticket.adjust_by %>&nbsp;</div></td>
    </tr>
  <% end %>
  </table>

  <table class="formulario">
  <tr><th height="10"></th></tr>
  <tr>
    <td>Fecha pago deuda:</td>
    <td colspan="3"><%= f.date_select :date_pay, 
         {:order => [:day, :month, :year], 
         :start_year => Time.now.year, 
         :end_year => (Time.now + 1.years).year }%></td>
  </tr>
  <tr>
    <td>Preparado por:</td>
      <td colspan="3" class="ro"><div class="n"><%= @ticket.prepared_by %></div></td>
  </tr>
  <tr>
    <td>Entrega documento a deudor:</td>
    <td colspan="3"><%= f.check_box :doc_delivery %> Sí</td>
  </tr>
  <tr><th height="10"></th></tr>
  <!-------  Modificacion de supervisor ------->
  <tr>
    <td>Solicita modificación a Supervisor:</td>
      <% if current_user.profile_id==1 %> <!-- Eje Cobranza -->
        <td colspan="3"><%= f.check_box :adjust_sup %> Sí
      <% else %>
        <td colspan="3" class="ro"><div class="sn"><% if @ticket.adjust_sup %>Sí<% else %>No<% end %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Descripción de la modificación solicitada a Supervisor:</td>
      <% if current_user.profile_id==1 %> <!-- Eje Cobranza -->
        <td colspan="3"><%= f.text_area :adjust_sup_des, :size => "54x2" %>
      <% else %>
        <td colspan="3" class="ro"><div class="lgh"><%= @ticket.adjust_sup_des %></div>
      <% end %>
    </td>
  </tr>
  <% if @ticket.adjust_sup_time %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%d/%m/%Y") %></div></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.</div></td>
    </tr>
  <% end %>
  <!-------  Fin Modificacion de supervisor ------->
  <!-------  Modificacion de Gerencia ------->
  <% if current_user.profile_id!=1 %>
    <tr>
      <td>Solicita modificación a Gerencia:</td>
        <% if current_user.profile_id==2 %> <!-- Supervisor -->
          <td colspan="3"><%= f.check_box :adjust_mgt %> Sí
        <% else %>
          <td colspan="3" class="ro"><div class="sn"><% if @ticket.adjust_mgt %>Sí<% else %>No<% end %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Descripción de la modificación solicitada a Gerencia:</td>
        <% if current_user.profile_id==2 %> <!-- Supervisor -->
          <td colspan="3"><%= f.text_area :adjust_mgt_des, :size => "54x2" %>
        <% else %>
          <td colspan="3" class="ro"><div class="lgh"><%= @ticket.adjust_mgt_des %></div>
        <% end %>
      </td>
    </tr>
    <% if @ticket.adjust_mgt_time %>
      <tr>
        <td>Fecha solicitud:</td>
        <td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%d/%m/%Y") %></div></td>
        <td>Hora solicitud:</td>
        <td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%H:%M") %> hrs.</div></td>
      </tr>
    <% end %>
  <% end %>
  <!-------  Fin Modificacion de Gerencia ------->

</table>


