<% if @caso.nil? %> 
  <table class="display">
  <tr>
    <td width="130">Tipo de Cobranza:</td><td width="70"><%= f.collection_select :collection_type_id, CollectionType.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  <tr>
    <td width="110">Mandante:</td><td><%= f.collection_select :principal_id, Principal.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  <tr>
    <td>Producto:</td><td><%= f.collection_select :product_id, Product.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  </table>
<% else %>
  <table class="display">
  <tr><td></td><td></td>   
  <th rowspan=3 width=16></th>
    <%= f.hidden_field :principal_id, :value => @caso.principal_id  %>
    <%= f.hidden_field :product_id, :value => @caso.product_id  %>
    <%= f.hidden_field :collection_type_id, :value => @caso.collection_type_id  %>
    <td>Rut:</td><td class="ro"><%= f.text_field :rut, :size => "10", :value => @caso.rut, :readonly => true %> - <%= f.text_field :digit, :size => "1", :value => @caso.digit, :readonly => true %></td>
  </tr>
  <tr>
    <td width="130">Identificador:</td><td class="ro" width="70"><%= f.text_field :cas_id, :size => "16", :value => @caso.cas_id, :readonly => true %></td>
    <td width="110">Nombre:</td><td><%= f.text_field :name, :size => "37", :value => @caso.name %></td>
  </tr>
  <tr>
    <td>Tipo de Cobranza:</td><td class="ro"><%= f.text_field :collection_type_name, :size => "16", :value => @caso.collection_type.name, :readonly => true %></td>
    <td>Mandante:</td><td class="ro"><%= f.text_field :principal_name, :size => "37", :value => @caso.principal.name, :readonly => true %></td>
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4"><%= f.text_area :payment_description, :size => "61x2" %></td>
  </tr>
  <tr>
    <td>Capital:</td><td><%= f.text_field :capital, :size => "8", :value => @caso.capital %></td>
    <th rowspan=7 width=16></th>
    <td>Producto:</td><td class="ro"><%= f.text_field :product_name, :size => "37", :value => @caso.product.name, :readonly => true %></td>
  </tr>
  <tr>
    <td>Interés Mora:</td><td class="ro"><%= f.text_field :arrear_interest, :size => "8", :value => @arr, :readonly => true %></td>
    <td>Número:</td><td><%= f.text_field :number, :size => "37", :value => @caso.number %></td>
  </tr>
  <tr>
    <td>Interés Plazo:</td><td class="ro"><%= f.text_field :term_interest, :size => "8", :value => @term, :readonly => true %></td>
    <td>Emisor:</td><td><%= f.text_field :emitter, :size => "37", :value => @caso.emitter %></td>
  </tr>
  <tr>
    <td>Honorarios:</td><td class="ro"><%= f.text_field :fee, :size => "8", :value => @fee, :readonly => true %></td>
    <td>Cuenta Corriente:</td><td><%= f.text_field :ctacte, :size => "37", :value => @caso.ctacte %></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td><td><%= f.text_field :shipping_costs, :size => "8", :value => 0 %></td>
    <td>Vencimiento:</td><td><%= f.text_field :expir_date, :size => "37", :value => @caso.expir_date.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td><td><%= f.text_field :legal_costs, :size => "8", :value => 0 %></td>
    <td>Boleta N°: </td><td><%= f.text_field :ballot, :size => "37" %></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>Cuota:</td><td><%= f.text_field :quota_num, :size => "2" %> de <%= f.text_field :total_q, :size => "3" %></td>
  </tr>
  <tr><td height="20"></td></tr>
  <tr>
    <td>Preparado por:</td><td colspan=4><%= f.select(:user_id, User.find(:all, :conditions => {:state => true, :profile_id => current_user.profile_id}, :order => 'name').collect {|u| [u.name, u.id]}, {:selected => @user_id}) %></td>
  </tr>
  <tr>
    <td colspan=3>Entrega documento a deudor:</td><td><%= f.check_box :doc_delivery %> Sí</td>
  </tr>
  <tr><td height="20"></td></tr>
  <tr>
    <td colspan=3>Solicita modificación a Supervisor:</td><td><%= f.check_box :adjust_sup %> Sí</td>
  </tr>
  <tr>
    <td>Descripción de la modificación solicitada:</td><td colspan="4"><%= f.text_area :adjust_sup_des, :size => "61x2" %></td>
  </tr>
  </table>

<% end %>
