<% if @caso.nil? %>  
  <%= f.hidden_field :collection_type_id, :value=> @ticket.collection_type_id %>
  <%= f.hidden_field :principal_id, :value=> @ticket.principal_id %>
  <%= f.hidden_field :product_id, :value=> @ticket.product_id %>
  <%= f.hidden_field :profile, :value => current_user.profile_id %>
  <%= f.hidden_field :adjust_mx, :value=> @ajuste_mx %>
  <%= f.hidden_field :int_mora, :value => @int_mora %>
  <%= f.hidden_field :int_plazo, :value => @int_plazo %>
  <table class="formulario">
  <tr>
    <td>Rut:</td>
    <td><%= f.text_field :rut, :size => "10"%> - <%= f.text_field :digit, :size => "1"%></td>
    <th rowspan=3 width=30></th>
    <td width="100">Nombre:</td><td><%= f.text_field :name, :size => "30"%></td>
  </tr>
  <tr>
    <td width="140">Identificador:</td><td><%= f.text_field :cas_id, :size => "12"%></td>
    <td>Mandante:</td>
    <td class="ro"><%= f.text_field :principal_name, :value=> @principal, :readonly => true %></td>
  </tr>
  <tr>
    <td>Tipo de Cobranza:</td>
    <td class="ro"><%= f.text_field :collection_type_name, :value=> @collection, :readonly => true, :size => "16" %></td>
    <td>Producto:</td>
    <td class="ro"><%= f.text_field :product_name, :value=> @product, :readonly => true %></td>
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4"><%= f.text_area :payment_description, :size => "65x1" %></td>
  </tr>
  </table>
  <table class="formulario">
  <tr>
    <td>Período de Pago: </td>
    <td>AT: </td>
    <td><%= f.text_field :pay_period_at, :size => "8" %></td>
    <th width=10></th>
    <td>NO: </td>
    <td><%= f.text_field :pay_period_no, :size => "8" %></td>
    <th width=10></th>
    <td>AD: </td>
    <td><%= f.text_field :pay_period_ad, :size => "8" %></td>
  </tr>
  </table>
  <table class="formulario">
  <tr>
    <td colspan="2"></td>
    <td><center>Ajustes</center></td>
    <td width=30></td>
    <td colspan="2"><center>Producto</center></td>
  </tr>
  <tr>
    <td>Capital:</td>
    <td><%= f.text_field :capital, :size => "8" %></td>
    <td><%= f.text_field :ad_capital, :size => "8" %></td>
    <td></td>
    <td>Número:</td><td><%= f.text_field :number, :size => "30" %></td>
  </tr>
  <tr>
    <td>Interés Mora:</td>
    <td><%= f.text_field :arrear_interest, :size => "8" %></td>
    <td><%= f.text_field :ad_arrear_interest, :size => "8" %></td>
    <td></td>
    <td>Emisor:</td><td><%= f.collection_select :emitter, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
  </tr>
  <tr>
    <td>Interés Plazo:</td>
    <td><%= f.text_field :term_interest, :size => "8" %></td>
    <td><%= f.text_field :ad_term_interest, :size => "8" %></td>
    <td></td>
    <td>Cuenta Corriente:</td><td><%= f.text_field :ctacte, :size => "30"%></td>
  </tr>
  <tr>
    <td>Honorarios:</td>
    <% if (current_user.profile_id==1 or current_user.profile_id==3) %>
      <td class="ro"><%= f.text_field :fee, :size => "8", :readonly => true, :value => @fee %></td>
    <% elsif (current_user.profile_id==2 or current_user.profile_id==6) %> 
      <td><%= f.text_field :fee, :size => "8", :value => @fee%></td>
    <% end %> 
    <td><%= f.text_field :ad_fee, :size => "8" %></td>
    <td></td>
    <td>Vencimiento:</td><td><%= f.date_select :expir_date, 
         {:order => [:day, :month, :year], 
         :start_year => (Time.now - 7.years).year, 
         :end_year =>(Time.now + 2.years).year,
         :prompt => {:month => '- Mes -', :day => '- Día -', :year => '- Año -'} } %></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td>
    <td><%= f.text_field :shipping_costs, :size => "8" %></td>
    <td><%= f.text_field :ad_shipping_costs, :size => "8" %></td>
    <td></td>
    <td>Boleta N°: </td><td><%= f.text_field :ballot, :size => "30" %></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td>
    <td><%= f.text_field :legal_costs, :size => "8" %></td>
    <td><%= f.text_field :ad_legal_costs, :size => "8" %></td>
    <td></td>
    <td>Cuota:</td><td><%= f.text_field :quota_num, :size => "2" %> de <%= f.text_field :total_q, :size => "3" %></td>
  </tr>
  </table>
  <table class="formulario">
  <tr>
    <td>Observación ajustes:</td><td><%= f.text_area :adjust_obs , :size => "65x1"%></td>
  </tr>
  </table>

  <div class="nbsp"></div>
  <table class="formulario">
  <tr>
    <td>Fecha pago deuda:</td>
    <td><%= f.date_select :date_pay, 
         {:order => [:day, :month, :year], 
         :start_year => Time.now.year, 
         :end_year => (Time.now + 1.years).year }%></td>
    <td>Preparado por:</td>
    <% if @ticket.id.nil? %> 
      <td class="ro"><!-- <%= f.select(:user_id, User.find(:all, :conditions => {:state => true, :profile_id => current_user.profile_id}, :order => 'name').collect {|u| [u.name, u.id]}, {:selected => current_user.id}) %> -->
<%= f.text_field :prepared_by, :value=> current_user.name, :readonly => true %></td>
    <% else %>
      <td class="ro"><%= @ticket.prepared_by %></td>
    <% end %>
  </tr>
  </table>

  <table class="formulario">
  <tr>
    <td width="210">Entrega documento a deudor:</td>
    <td width="50"><%= f.check_box :doc_delivery %> Sí</td>
    <td></td>
  </tr>
  </table>

  <hr>
  <% if current_user.profile_id!=6 %>
    <div class="subtit">
      Solicitud de Modificaciones:
    </div>
  <% end %>

  <table class="formulario">
  <!-------  Modificacion de supervisor ------->
  <% if (current_user.profile_id==1 or current_user.profile_id==3) %> <!-- Eje Cobranza/Terreno -->
   <tr>
     <td width="210">Solicita modificación a Supervisor:</td>
     <td width="50"><%= f.check_box :adjust_sup %> Sí</td>
     <td></td>
   </tr>
   <tr>
     <td>Descripción de la modificación solicitada a Supervisor:</td>
     <td><%= f.text_area :adjust_sup_des, :size => "50x1" %>
   </tr>
  <% end %>
  <!-------  Fin Modificacion de supervisor ------->
  <!-------  Modificacion de Gerencia ------->
  <% if current_user.profile_id==2 %> <!-- Supervisor -->
    <tr>
      <td width="210">Solicita modificación a Gerencia:</td>
      <td width="50"><%= f.check_box :adjust_mgt %> Sí</td>
      <td></td>
    </tr>
    <tr>
      <td>Descripción de la modificación solicitada a Supervisor:</td>
      <td><%= f.text_area :adjust_mgt_des, :size => "50x1" %>
    </tr>
    <% if @ticket.adjust_mgt_time %>
      </table>
      <table class="formulario">
      <tr>
        <td>Fecha solicitud:</td><td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%d/%m/%Y") %></div></td><td></td>
        <td>Hora solicitud:</td><td class="ro"><div class="sh"><%= @ticket.adjust_mgt_time.strftime("%H:%M") %> hrs.</div></td>
      </tr>
    <% end %>
  <% end %>
  <!-------  Fin Modificacion de Gerencia ------->
  </table>
<% end %>
