<seccion>
  <table>
  <tr>
    <th>Rut</th>
    <th>Nombre Deudor</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Capital</th>
    <th>Fecha Asignación</th>
    <th></th>
  </tr>
  <% if @resp.nil? %>
    <tr>
      <td colspan= 8>No se han encontrado Casos que coincidan con el Rut ingresado.</td>
    </tr>  
  <% else %>
    <% @resp.each do |a| %>
    <tr>
      <td><%= a.rut %></td>
      <td><%= a.name %></td>
      <td><%= a.cas_id %></td>
      <td><%= a.principal.name %></td>
      <td><%= a.product.name %></td>
      <td><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></td>
      <td><%= a.alloc_date %></td>
      <td>
        <% if current_user.group_id==a.group_id %> 
          <%= link_to 'Crear Ticket', :controller => "tickets", :action => "new", :f => a.id %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </table>
</seccion>

<botones>
  <% if current_user.profile_id==1 %>
    <%= link_to 'Crear Ticket en blanco', new_ticket_path %>
  <% end %>
  <%= render 'shared/pp_ejc_dsg' %>
</botones>

