<div class="seccion">
<table><tr><td class="marco">

<%= form_for(@ticket) do |f| %>
  <%= render "shared/error_messages", :target => @ticket, :text => "el Ticket" %>  
  <%= render "form", :f => f %>  

  <div class="botones">
    <% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
      <%= f.submit "Grabar"%>
      <%= link_to 'Anular el Ticket', :controller => "tickets", :action => "ntc", :acc => '1', :id => @tid %> 
      <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" %>     
    <% elsif current_user.profile_id==2 %> <!-- Supervisor -->
      <%= f.submit "Modificar Ticket", :name => "rec_button" unless @ticket.state!='pms'%>
      <%= link_to 'Anular el Ticket', :controller => "tickets", :action => "ntc", :acc => '1', :id => @tid %> 
      <%= link_to 'Cancelar', :controller => "sessions", :action => "sup" %> 
    <% elsif current_user.profile_id==6 %> <!-- Gerencia -->
      <%= f.submit "Modificar Ticket"%>
      <%= link_to 'Anular el Ticket', :controller => "tickets", :action => "ntc", :acc => '1', :id => @tid %> 
      <%= link_to 'Cancelar', :controller => "sessions", :action => "ger" %> 
    <% end %> 
  </div>
      
<% end %>
    
</td></tr></table>
</div>

<div class="botones">
  <% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
    <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>     
  <% elsif current_user.profile_id==2 %> <!-- Supervisor -->
    <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %> 
  <% elsif current_user.profile_id==6 %> <!-- Gerencia -->
    <%= link_to 'Página Principal', :controller => "sessions", :action => "ger" %> 
  <% end %>  
</div>


