<div class="seccion">
<table><tr><td class="marco">
<%= form_for(@ticket) do |f| %>
  <%= render "shared/error_messages", :target => @ticket, :text => "el Ticket" %>  
  <%= render "#{@ticket.current_step}", :f=> f %>
  <div class="botones">
  <% if @caso.nil? %> 
    <%= f.submit "Continuar", :name => "next_button" unless @ticket.last_step?%>  
    <%= f.submit "Grabar", :name => "rec_button" unless @ticket.first_step?%>
    <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" if (current_user.profile_id==1 and @ticket.last_step?)%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "sup" if (current_user.profile_id==2 and @ticket.last_step?)%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "jtr" if (current_user.profile_id==3 and @ticket.last_step?)%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "ger" if (current_user.profile_id==6 and @ticket.last_step?)%> 
  <% else %>
    <%= f.submit "Grabar", :name => "rec_button"%>
    <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" if current_user.profile_id==1%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "sup" if current_user.profile_id==2%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "jtr" if current_user.profile_id==3%> 
    <%= link_to 'Cancelar', :controller => "sessions", :action => "ger" if current_user.profile_id==6%> 
  <% end %>
  </div>
<% end %>
</td></tr></table>
</div>

<div class="botones">
  <%= render "shared/pp_ejc_sup_jtr_ger" %>
</div>

