<div class="seccion">
<table><tr><td class="marco">
<%= form_for(@ticket) do |f| %>
  <%= render "shared/error_messages", :target => @ticket, :text => "el Ticket" %>  
  <%= render "#{@ticket.current_step}", :f=> f %>
  <% if @caso.nil? %> 
    <div class="botones"><%= f.submit "Continuar", :name => "next_button" unless @ticket.last_step?%></div>  
    <div class="botones"><%= f.submit "Grabar", :name => "rec_button" unless @ticket.first_step?%></div>
  <% else %>
    <div class="botones">
      <%= f.submit "Grabar", :name => "rec_button"%>
      <% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
        <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" %> 
      <% elsif current_user.profile_id==2 %> <!-- Supervisor -->
        <%= link_to 'Cancelar', :controller => "sessions", :action => "sup" %> 
      <% end %>
    </div>
  <% end %>
<% end %>
</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %> 
<% elsif current_user.profile_id==2 %> <!-- Supervisor -->
  <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %> 
<% end %>
</div>

