<div class="seccion">
<table><tr><td class="formulario">
<% if notice == '1' %>
  <p id="notice">El Ticket N° <%= @ticket.id %> se ha creado exitosamente.</p>
<% else %>
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>

  <table class="display">
    <% if Rails.env.development? %>
      <tr><td colspan=5>
        state: <%= @ticket.state %>
      <td></tr>
    <% end %>
    <tr><td>Ticket N°:</td><td><div class="sh"><%= @ticket.id %></div></td>
    <th rowspan=20 width=16></th>
    <td>Rut:</td><td><div class="sh"><%= @ticket.rut %> - <%= @ticket.digit %></div></td>
  </tr>
  <tr>
    <td width="130">Identificador:</td><td width="70"><div class="sh"><%= @ticket.cas_id %></div></td>
    <td width="110">Nombre:</td><td><div><%= @ticket.name %></div></td>
  </tr>
  <tr>
    <td>Tipo de Cobranza:</td><td><div class="sh"><%= @ticket.collection_type_name %>&nbsp;</div></td>
    <td>Mandante:</td><td><div><%= @ticket.principal_name %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4"><div class="lg"><%= @ticket.payment_description %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Capital:</td><td><div class="sh"><%= number_to_currency(@ticket.capital, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Producto:</td><td><div><%= @ticket.product_name %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Interés Mora:</td><td><div class="sh"><%= number_to_currency(@ticket.arrear_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Número:</td><td><div><%= @ticket.number %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Interés Plazo:</td><td><div class="sh"><%= number_to_currency(@ticket.term_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Emisor:</td><td><div><%= @ticket.emitter %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Honorarios:</td><td><div class="sh"><%= number_to_currency(@ticket.fee, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Cuenta Corriente:</td><td><div><%= @ticket.ctacte %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td><td><div class="sh"><%= number_to_currency(@ticket.shipping_costs, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Vencimiento:</td><td><div><%= @ticket.expir_date.strftime("%d-%b-%Y") %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td><td><div class="sh"><%= number_to_currency(@ticket.legal_costs, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Boleta N°: </td><td><div><%= @ticket.ballot %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Total a Pagar:</td><td><div class="sh"><%= number_to_currency(@ticket.total_pay, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Cuota:</td><td><div class="sh"><%= @ticket.quota_num %>
    <% if not @ticket.total_q.empty? %> de <%= @ticket.total_q %><% end %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Preparado por:</td><td colspan=4><div class="lg"><%= @ticket.prepared_by%>&nbsp;</div></td>
  </tr>
  <tr>
    <td colspan=2>Entrega documento a deudor:</td><td><div class="sn"><% if @ticket.doc_delivery %>Sí<% else %>No<% end %></div></td>
  </tr>
  <tr>
    <td colspan=2>Solicita modificación a Supervisor:</td><td><div class="sn"><% if @ticket.adjust_sup %>Sí<% else %>No<% end %></div></td>
  </tr>
  <tr>
  <% if @ticket.adjust_sup %>
      <td>Descripción de la modificación solicitada:</td><td colspan="4"><div class="lgh"><%= @ticket.adjust_sup_des %></div></td>
    </tr>
    <tr>
      <td>Fecha solicitud:</td><td><div class="sh"><%= @ticket.adjust_sup_time.strftime("%d-%b-%Y") %></div></td>
      <td>Hora solicitud:</td><td><div class="sh"><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.</div></td>
    <tr>
  <% else %>
      <td>Descripción de la modificación solicitada:</td><td colspan="4"><div class="lg"><%= @ticket.adjust_sup_des %>&nbsp;</div></td>
    </tr>
  <% end %>

  </table>
<% end %>
</td></tr></table>
</div>

<div class="botones">
<% if not notice == '1' %>
  <% if not @ticket.adjust_sup? %>
    <%= link_to 'Editar', edit_ticket_path(@ticket) %> 
  <% end %>
  <%= link_to 'Listado de Tickets', tickets_path %>
<% end %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>
</div>

