<div class="seccion">
<table><tr><td class="formulario">
<% if notice == '1' %>
  <p id="notice">El Ticket N° <%= @ticket.id %> se ha creado exitosamente.</p>
<% else %>
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>

  <% if Rails.env.development? %>
    <p><hr></p>
    <div>
      state: <%= @ticket.state %>
    </div>
    <p><hr></p>
  <% end %>

  <div class="fieldt-l">
    Ticket N°:
  </div>
  <div class="field_txt-l">
    <%= @ticket.id %>
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Rut:
  </div>
  <div class="field_txt-l">
    <%= @ticket.rut %> - <%= @ticket.digit %>
  </div>
  <div class="field_txt-r">
    <%= @ticket.cas_id %>
  </div>
  <div class="fieldt-r">
    Identificador: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Nombre:
  </div>
  <div class="fieldg_txt-l">
    <%= @ticket.name %>
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Mandante:
  </div>
  <div class="field_txt-l">
    <%= @ticket.principal_name %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.collection_type_name %>
  </div>
  <div class="fieldt-r">
    Tipo de Cobranza: 
  </div>
  <br clear="all">

  <div class="field">
    Descripción del Pago:
  </div>
  <div class="field_area">
    <%= @ticket.payment_description %>&nbsp;
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Capital: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.capital, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.product_name %>&nbsp;
  </div>
  <div class="fieldt-r">
    Producto: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Interés Mora: &nbsp; &nbsp; &nbsp;  &nbsp;
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.arrear_interest, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.number %>&nbsp;
  </div>
  <div class="fieldt-r">
    Número: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Interés Plazo:&nbsp; &nbsp;  &nbsp; &nbsp;
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.term_interest, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.emitter %>&nbsp;
  </div>
  <div class="fieldt-r">
    Emisor: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Honorarios: &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.fee, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.ctacte %>&nbsp;
  </div>
  <div class="fieldt-r">
    Cuenta Corriente: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Gastos de Envío: &nbsp;
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.shipping_costs, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.expir_date %>&nbsp;
  </div>
  <div class="fieldt-r">
    Vencimiento: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Gastos Judiciales:
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.legal_costs, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.ballot %>&nbsp;
  </div>
  <div class="fieldt-r">
    Boleta N°: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Total a Pagar: &nbsp; &nbsp; &nbsp; 
  </div>
  <div class="field_txt-l">
    <%= number_to_currency(@ticket.total_pay, :precision => 0, :delimiter => ".") %>&nbsp;
  </div>
  <div class="field_txt-r">
    <%= @ticket.quota_num %>
    <% if not @ticket.total_q.empty? %> de <%= @ticket.total_q %><% end %>&nbsp;
  </div>
  <div class="fieldt-r">
    Cuota: 
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Preparado por:
  </div>
  <div class="fieldg_txt-l">
    <%= @ticket.prepared_by%>&nbsp;
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Entrega documento a deudor:  
  </div>
  <div class="fields_txt-l">
    <% if @ticket.doc_delivery %>Sí<% else %>No<% end %>
  </div>
<% end %>
</td></tr></table>
</div>

<div class="botones">
<% if not notice == '1' %>
  <% if not @ticket.adjust_sup? %>
    <%= link_to 'Editar', edit_ticket_path(@ticket) %> 
  <% end %>
  <%= link_to 'Listado de Tickets', tickets_path %>
<% end %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>
</div>

