<p id="notice"><%= notice %></p>

<p>
  <b>Principal:</b>
  <%= @ticket.principal_id %>
</p>

<p>
  <b>Collection type:</b>
  <%= @ticket.collection_type_id %>
</p>

<p>
  <b>Product:</b>
  <%= @ticket.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Receipt:</b>
  <%= @ticket.receipt_id %>
</p>

<p>
  <b>State:</b>
  <%= @ticket.state %>
</p>

<p>
  <b>State fees:</b>
  <%= @ticket.state_fees %>
</p>

<p>
  <b>Group:</b>
  <%= @ticket.group %>
</p>

<p>
  <b>Rut:</b>
  <%= @ticket.rut %>
</p>

<p>
  <b>Digit:</b>
  <%= @ticket.digit %>
</p>

<p>
  <b>Name:</b>
  <%= @ticket.name %>
</p>

<p>
  <b>Cas:</b>
  <%= @ticket.cas_id %>
</p>

<p>
  <b>Principal name:</b>
  <%= @ticket.principal_name %>
</p>

<p>
  <b>Collection type name:</b>
  <%= @ticket.collection_type_name %>
</p>

<p>
  <b>Payment description:</b>
  <%= @ticket.payment_description %>
</p>

<p>
  <b>Capital:</b>
  <%= @ticket.capital %>
</p>

<p>
  <b>Arrear interest:</b>
  <%= @ticket.arrear_interest %>
</p>

<p>
  <b>Term interest:</b>
  <%= @ticket.term_interest %>
</p>

<p>
  <b>Fee:</b>
  <%= @ticket.fee %>
</p>

<p>
  <b>Shipping costs:</b>
  <%= @ticket.shipping_costs %>
</p>

<p>
  <b>Legal costs:</b>
  <%= @ticket.legal_costs %>
</p>

<p>
  <b>Total pay:</b>
  <%= @ticket.total_pay %>
</p>

<p>
  <b>Product:</b>
  <%= @ticket.product %>
</p>

<p>
  <b>Number:</b>
  <%= @ticket.number %>
</p>

<p>
  <b>Emitter:</b>
  <%= @ticket.emitter %>
</p>

<p>
  <b>Ctacte:</b>
  <%= @ticket.ctacte %>
</p>

<p>
  <b>Expir date:</b>
  <%= @ticket.expir_date %>
</p>

<p>
  <b>Ballot:</b>
  <%= @ticket.ballot %>
</p>

<p>
  <b>Quota num:</b>
  <%= @ticket.quota_num %>
</p>

<p>
  <b>Total q:</b>
  <%= @ticket.total_q %>
</p>

<p>
  <b>Prepared by:</b>
  <%= @ticket.prepared_by %>
</p>

<p>
  <b>Doc delivery:</b>
  <%= @ticket.doc_delivery %>
</p>

<p>
  <b>Adjust sup:</b>
  <%= @ticket.adjust_sup %>
</p>

<p>
  <b>Adjust sup des:</b>
  <%= @ticket.adjust_sup_des %>
</p>

<p>
  <b>Adjust sup date:</b>
  <%= @ticket.adjust_sup_date %>
</p>

<p>
  <b>Adjust sup tm:</b>
  <%= @ticket.adjust_sup_tm %>
</p>

<p>
  <b>Adjust mgt:</b>
  <%= @ticket.adjust_mgt %>
</p>

<p>
  <b>Adjust mgt des:</b>
  <%= @ticket.adjust_mgt_des %>
</p>

<p>
  <b>Adjust mgt date:</b>
  <%= @ticket.adjust_mgt_date %>
</p>

<p>
  <b>Adjust mgt tm:</b>
  <%= @ticket.adjust_mgt_tm %>
</p>

<p>
  <b>Canceled by:</b>
  <%= @ticket.canceled_by %>
</p>

<p>
  <b>Canceled date:</b>
  <%= @ticket.canceled_date %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
