<div class="seccion">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <table><tr><td class="marco">
    <div class="field">
      Nombre:
    </div>
    <div class="field_txt">
      <%= @emitter.name %>
    </div>
    <div class="field">
      Descripción:
    </div>
    <div class="field_txt">
      <%= @emitter.description %>&nbsp;
    </div>
    <div class="field">
      Estado:
    </div>
    <div class="field_txt">
      <% if @emitter.state %>Activo<% else %>Inactivo<% end %>
    </div>
  </td></tr></table>
</div>

<div class="botones">
<%= link_to 'Editar', edit_emitter_path(@emitter) %> 
<% if current_user.profile_id==7 %>
  <%= link_to 'Listado de Emisores', emitters_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %>
  <%= link_to "Listado de Emisores", demitters_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>

