<div class="seccion">
<table><tr><td class="formulario">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <div class="field">
    Nombre:
  </div>
  <div class="field_txt">
    <%= @payment_form.name %>
  </div>
  <div class="field">
    Requiere emisor:
  </div>
  <div class="field_txt">
    <% if @payment_form.emitter %>Sí<% else %>No<% end %>
  </div>
  <div class="field">
    Requiere n&uacute;mero de documento:
  </div>
  <div class="field_txt">
    <% if @payment_form.num_doc %>Sí<% else %>No<% end %>
  </div>
  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @payment_form.description %>&nbsp;
  </div>
  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @payment_form.state %>Activo<% else %>Inactivo<% end %>
  </div>

</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==7 %>
  <%= link_to 'Editar', edit_payment_form_path(@payment_form) %> 
  <%= link_to 'Listado de Formas de Pago', payment_forms_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %>
  <%= link_to "Listado de Todas las Formas de Pago", dpayment_forms_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>

</div>

