<div class="seccion">
<table><tr><td class="formulario">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <div class="field">
    Nombre:
  </div>
  <div class="field_txt">
    <%= @product.name %>
  </div>

  <div class="field">
    Descripción:
  </div>
  <div class="field_txt">
    <%= @product.description %>
  </div>

  <div class="field">
    Estado:
  </div>
  <div class="field_txt">
    <% if @product.state %>Activo<% else %>Inactivo<% end %>
  </div>

</td></tr></table>
</div>

<div class="botones">
  <%= link_to 'Editar', edit_product_path(@product) %> 
  <%= link_to 'Listado de Productos', products_path %>
  <%= render 'shared/pp_adm_dsg' %>
</div>

