<div class="seccion">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>
  <table><tr><td class="marco">
    <div class="field">
      Nombre:
    </div>
    <div class="field_txt">
      <%= @product.name %>
    </div>
    <div class="field">
      Descripción:
    </div>
    <div class="field_txt">
      <%= @product.description %>&nbsp;
    </div>
    <div class="field">
      Estado:
    </div>
    <div class="field_txt">
      <% if @product.state %>Activo<% else %>Inactivo<% end %>
    </div>
  </td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==7 %>
  <%= link_to 'Editar', edit_product_path(@product) %> 
  <%= link_to 'Listado de Productos', products_path %>
  <%= render 'shared/pp_adm_dsg' %>
<% elsif current_user.profile_id==8 %>
  <%= link_to "Listado de Todos los Productos", dproducts_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>

