  <tr>
    <td>Nombre: </td><td class="ro"><div class="l260"><%= f.cont_name %>&nbsp;</div></td>
    <th rowspan=6 width=16></th>
    <td>Rut:</td><td class="ro"><div class="sh"><%= f.cont_rut %>-<%= f.cont_digit %></div></td>
  </tr>
  <tr>
    <td>Calle:</td><td class="ro"><div class="l260"><%= f.cont_calle %>&nbsp;</div></td>
    <td>N° </td><td class="ro"><div class="sh"><%= f.cont_num %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Comuna: </td><td class="ro"><div class="l260"><%= f.cont_comuna %>&nbsp;</div></td>
    <td>N° Depto.:</td><td class="ro"><div class="sh"><%= f.cont_depto %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Referencias:</td><td colspan=4 class="ro"><div class="lg"><%= f.cont_ref %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Horario: </td><td class="ro"><div class="l260"><%= f.cont_hr %>&nbsp;</div></td>
    <td>Teléfono 1: </td><td class="ro"><div class="sh"><%= f.cont_telf1 %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Teléfono 2: </td><td class="ro"><div class="sh"><%= f.cont_telf2 %>&nbsp;</div></td>
    <td>Teléfono 3: </td><td class="ro"><div class="sh"><%= f.cont_telf3 %>&nbsp;</div></td>
  </tr>


