    <tr>
      <th>Forma de Pago</th>
      <th>Emisor</th>
      <th>N° Doc / N° Cta</th>
      <th>Monto</th>
    </tr>
     <% if (not f.monto1.nil?) %> <tr>
      <td class="ro"><div class="md"><%= h f.formapago1 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= h f.emisor1 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h f.docnum1 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto1, :precision => 0, :delimiter => ".")%></div></td>
    </tr><% end %>
    <% if (not f.monto2.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago2 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor2 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum2 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto2, :precision => 0, :delimiter => ".")%></div></td>
    </tr><% end %>
    <% if (not f.monto3.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago3 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor3 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum3 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto3, :precision => 0, :delimiter => ".")%></div></td>
    </tr><% end %>
    <% if (not f.monto4.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago4 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor4 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum4 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto4, :precision => 0, :delimiter => ".")%></div></td>
    </tr><% end %>
    <% if (not f.monto5.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago5 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor5 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum5 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto5, :precision => 0, :delimiter => ".")%></div></td>
    </tr><% end %>
    <% if (not f.monto6.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago6 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor6 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum6 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto6, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto7.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago7 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor7 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum7 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto7, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto8.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago8 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor8 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum8 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto8, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto9.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago9 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor9 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum9 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto9, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto10.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago10 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor10 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum10 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto10, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto11.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago11 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor11 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum11 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto11, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto12.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago12 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor12 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum12 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto12, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto13.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago13 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor13 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum13 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto13, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto14.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago14 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor14 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum14 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto14, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>    
    <% if (not f.monto15.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago15 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor15 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum15 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto15, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto16.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago16 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor16 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum16 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto16, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto17.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago17 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor17 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum17 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto17, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <% if (not f.monto18.nil?) %> <tr>
      <td class="ro"><div class="md"><%= f.formapago18 %>&nbsp;</div></td>
      <td class="ro"><div class="n"><%= f.emisor18 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= f.docnum18 %>&nbsp;</div></td>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.monto18, :precision => 0, :delimiter => ".") %></div></td>
    </tr><% end %>
    <tr>
      <td colspan=2></td>
      <th>Total Pagado:</th>
      <td class="ro"><div class="sh"><%= h number_to_currency(f.total_paid, :precision => 0, :delimiter => ".") unless f.total_paid.nil?%>&nbsp;</div></td>
    </tr>


