  <table class="datos">
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td>
    <td><%= f.text_field :payment_agreement_name, :value=> @payment_agreement, :readonly => true, :size => "30" %>
    <%= f.hidden_field :payment_agreement_id, :value=> @receipt.payment_agreement_id %></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td>
    <td class="ro"><div class="sh"><%= number_to_currency(@total_rp, :precision => 0, :delimiter => ".") %>
    <%= f.hidden_field :total_pay, :value=> @total_rp %></div></td>
  </tr>
  <tr>
    <td width="115">Fecha de Pago:</td><td><%= f.date_select :date_r, :order => [:day, :month, :year] %></td>
  </tr>
  <tr>
    <td>Preparado por:</td>
    <td><div class="n"><%= f.text_field :user_name, :size => "30", :value => current_user.name, :readonly => true %></div></td>
    <td>Teléfono: </td>
    <td><div class="n"><%= f.text_field :telephone_user, :size => "12" , :value => current_user.telephone, :readonly => true %></div></td>
  </tr>
  </table>

<!-- inicio DATOS DE CONTACTO -->
<!-- Solo para Tickets sin Detalle, Acuerdos de Pago != 1,2,5,6 -->
<% if (@receipt.payment_agreement_id!=1 and @receipt.payment_agreement_id!=2 and @receipt.payment_agreement_id!=5 and @receipt.payment_agreement_id!=6) %>
  <div class="subtit">
    Datos de Contacto: 
  </div>
  <table class="datos">
  <tr>
    <td width="85">Nombre: </td><td><%= f.text_field :cont_name, :size => "37" %></td>
    <th rowspan=20 width=16></th>
    <td width="70">Rut:</td><td><%= f.text_field :cont_rut, :size => "7" %> - <%= f.text_field :cont_digit, :size => "1" %></td>
  </tr>
  <tr>
    <td>Calle:</td><td><%= f.text_field :cont_calle, :size => "37" %></td>
    <td>N° </td><td><%= f.text_field :cont_num, :size => "12" %></td>
  </tr>
  <tr>
    <td>Comuna: </td><td><%= f.collection_select :comuna, Comuna.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
    <td>N° Depto.:</td><td><%= f.text_field :cont_depto, :size => "12" %></td>
  </tr>
  <tr>
    <td>Referencias:</td><td colspan=4><%= f.text_field :cont_ref, :size => "67" %></td>
  </tr>
  <tr>
    <td>Horario: </td><td><%= f.text_field :cont_hr, :size => "37" %></td>
    <td>Teléfono 1: </td><td><%= f.text_field :cont_telf1, :size => "12" %></td>
  </tr>
  <tr>
    <td>Teléfono 2: </td><td><%= f.text_field :cont_telf2, :size => "12" %></td>
    <td>Teléfono 3: </td><td><%= f.text_field :cont_telf3, :size => "12" %></td>
  </tr>
  </table>
<% end %>
<!-- fin DATOS DE CONTACTO -->

<!-- No para Acuerdo Pago: con gestion en terreno -->
<% if (@receipt.payment_agreement_id!=3 and @receipt.payment_agreement_id!=4) %>
  <div class="subtit">
    Detalle del Pago:
  </div>
    <table class="datos">
    <tr>
      <th width="120">Forma de Pago</th>
      <th width="245">Emisor</th>
      <th width="118">N° Documento</th>
      <th>Monto</th>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago1, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor1, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum1, :size => "16" %></td>
      <td><%= f.text_field :monto1, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago2, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor2, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum2, :size => "16" %></td>
      <td><%= f.text_field :monto2, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago3, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor3, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum3, :size => "16" %></td>
      <td><%= f.text_field :monto3, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago4, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor4, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum4, :size => "16" %></td>
      <td><%= f.text_field :monto4, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago5, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor5, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum5, :size => "16" %></td>
      <td><%= f.text_field :monto5, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago6, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor6, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum6, :size => "16" %></td>
      <td><%= f.text_field :monto6, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago7, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor7, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum7, :size => "16" %></td>
      <td><%= f.text_field :monto7, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago8, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor8, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum8, :size => "16" %></td>
      <td><%= f.text_field :monto8, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago9, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor9, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum9, :size => "16" %></td>
      <td><%= f.text_field :monto9, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago10, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor10, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum10, :size => "16" %></td>
      <td><%= f.text_field :monto10, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago11, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor11, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum11, :size => "16" %></td>
      <td><%= f.text_field :monto11, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago12, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor12, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum12, :size => "16" %></td>
      <td><%= f.text_field :monto12, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago13, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor13, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum13, :size => "16" %></td>
      <td><%= f.text_field :monto13, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago14, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor14, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum14, :size => "16" %></td>
      <td><%= f.text_field :monto14, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago15, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor15, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum15, :size => "16" %></td>
      <td><%= f.text_field :monto15, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago16, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor16, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum16, :size => "16" %></td>
      <td><%= f.text_field :monto16, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago17, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor17, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum17, :size => "16" %></td>
      <td><%= f.text_field :monto17, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago18, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor18, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum18, :size => "16" %></td>
      <td><%= f.text_field :monto18, :size => "8" %></td>
    </tr>
    <tr>
      <td colspan=2></td>
      <th>Total Pagado:</th>
      <td><div class="n"><%= f.text_field :total_paid, :size => "8", :value => @total_paid, :readonly => true %></div></td>
    </tr>
  
    </table>
<% end %>

