<table><tr><td class="formulario">
<%= form_for(@receipt) do |f| %>
  <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>

  <% @tickets.each do |a| %>
  <table class="display">
  <tr>
    <th>Ticket N°:</th><td><div class="sh"><%= a.id %></div></td>
    <th rowspan=20 width=16></th>
    <th>Mandante:</th><td><div><%= a.principal_name %></div></td>
  </tr>
  <tr>
    <th>Identificador:</th><td><div class="sh"><%= a.cas_id %></div></td>
    <th>Tipo de Cobranza:</th><td> <div><%= a.collection_type_name %></div></td>
  </tr>
  <tr>
    <th>Rut:</th><td><div class="sh"><%= a.rut %> - <%= a.digit %></div></td>
    <th>Nombre:</th><td><div><%= a.name %></div></td>
  </tr>
  <tr>
    <th>Descripción del Pago:</th><td colspan="4"><div class="lg"><%= a.payment_description %>&nbsp;</div></td>
  </tr>
  <tr>
    <th>Capital:</th><td><div class="sh"><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></div></td>
    <th>Producto:</th><td><div><%= a.product_name %></div></td>
  </tr>
  <tr>
    <th>Interés Mora:</th><td><div class="sh"><%= number_to_currency(a.arrear_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <th>Número:</th><td><div><%= a.number %></div></td>
  </tr>
  <tr>
    <th>Interés Plazo:</th><td><div class="sh"><%= number_to_currency(a.term_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <th>Emisor:</th><td><div><%= a.emitter %></div></td>
  </tr>
  <tr>
    <th>Honorarios:</th><td><div class="sh"><%= number_to_currency(a.fee, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <th>Cuenta Corriente:</th><td><div><%= a.ctacte %></div></td>
  </tr>
  <tr>
    <th>Gastos Envío:</th><td><div class="sh"><%= a.shipping_costs %>&nbsp;</div></td>
    <th>Vencimiento:</th><td><div><%= a.expir_date %></div></td>
  </tr>
  <tr>
    <th>Gastos Judiciales:</th><td><div class="sh"><%= a.legal_costs %>&nbsp;</div></td>
    <th>Boleta nro: </th><td><div><%= a.ballot %>&nbsp;</div></td>
  </tr>
  <tr>
    <th>Total a Pagar:</th><td><div class="sh"><%= number_to_currency(a.total_pay, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <th>Cuota:</th><td><div class="sh"><%= a.quota_num %><% if not a.total_q.empty? %> de <%= a.total_q %><% end %>&nbsp;</div></td>
  </tr>
  <tr>
    <th>Preparado por:</th><td colspan=4><div class="lg"><%= a.prepared_by %></div></td>
  </tr>
  <tr>
    <th colspan=2>Entrega documento a deudor:</th><td><div class="sn"><% if a.doc_delivery %>Sí<% else %>No<% end %></div></td>
  </tr>
  </table>
  <hr>
  <% end %>
  <table class="formulario">
  <tr>
    <td>Fecha:</td><td><%= f.date_select :date_r %></td>
    <th rowspan=20 width=16></th>
    <td>Total a Pagar: &nbsp;</td><td><%= f.text_field :total_pay, :size => "10", :value=> @total_rp, :readonly => true %></td>
  </tr>
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td><td><%= f.collection_select :payment_agreement_id, PaymentAgreement.find(:all, :conditions => {:state => true}, :order => 'name'), :id, :name %></td>
  </tr>
  <tr>
    <td>Preparado por:</td><td><%= f.text_field :user_name, :size => "30", :value => current_user.name, :readonly => true %>&nbsp;</td>
    <td>Teléfono: </td><td><%= f.text_field :telephone_user, :size => "10" , :value => current_user.telephone, :readonly => true %></td>
  </tr>
  </table>
  <div class="subtit">
    Datos de Contacto:
  </div>
  <table class="formulario">
  <tr>
    <td>Nombre: </td><td><%= f.text_field :telephone_user, :size => "40" %></td>
    <th rowspan=20 width=16></th>
    <td>Rut:</td><td><%= f.text_field :telephone_user, :size => "7" %>-<%= f.text_field :telephone_user, :size => "1" %></td>
  </tr>
  <tr>
    <td>Calle:</td><td><%= f.text_field :telephone_user, :size => "40" %></td>
    <td>N° Depto.:</td><td><%= f.text_field :telephone_user, :size => "11" %></td>
  </tr>
  <tr>
    <td>Referencia:</td><td><%= f.text_field :telephone_user, :size => "40" %></td>
    <td>Comuna: </td><td><%= f.text_field :telephone_user, :size => "11" %></td>
  </tr>
  <tr>
    <td>Horario: </td><td><%= f.text_field :telephone_user, :size => "40" %></td>
    <td>Teléfono 1: </td><td><%= f.text_field :telephone_user, :size => "11" %></td>
  </tr>
  <tr>
    <td>Teléfono 2: </td><td><%= f.text_field :telephone_user, :size => "11" %></td>
    <td>Teléfono 3: </td><td><%= f.text_field :telephone_user, :size => "11" %></td>
  </tr>
  </table>

  <div class="subtit">
    Detalle del Pago:
  </div>
    <table class="formulario">
    <tr>
      <th>Forma de Pago</th>
      <th>Emisor</th>
      <th>N° Documento</th>
      <th>Monto</th>
    </tr>
    <tr>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "30" %></td>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "30" %></td>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "30" %></td>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "30" %></td>
      <td><%= f.text_field :telephone_user, :size => "10" %></td>
      <td><%= f.text_field :telephone_user, :size => "8" %></td>
    </tr>
    <tr>
      <td colspan=2></td>
      <td>Total Pagado:</td>
      <td><%= f.text_field :total_paid, :size => "8" %></td>
    </tr>
    </table>

  <div class="actions">
    <%= f.submit "Grabar" %>
  </div>

  <p><hr></p>
    state: <%= @receipt.state %><br>
    payment_agreement_id:  <%= @receipt.payment_agreement_id %><br>
    user_id:   <%= @receipt.user_id %><br>
    contact_id:  <%= @receipt.contact_id %><br>
  </div>

<% end %>
</td></tr></table>

