<table><tr><td class="formulario">
<%= form_for(@receipt) do |f| %>
  <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>

  <% if not @receipt.id.nil? %> 
    <table class="display">
    <tr>
      <td width="130">Recibo de Pago N°:</td><td class="ro"><div class="sh"><%= @receipt.id %></div></td>
      <th rowspan=20 width=16></th>
    </tr>
    </table>
    <hr>
  <% end %>

  <% @tickets.each do |a| %>
  <table class="display">
  <tr>
    <td>Ticket N°:</td><td class="ro"><div class="sh"><%= a.id %></div></td>
    <th rowspan=3 width=16></th>
    <td>Rut:</td><td class="ro"><div class="sh"><%= a.rut %> - <%= a.digit %></div></td>
  </tr>
  <tr>
    <td width="130">Identificador:</td><td width="70" class="ro"><div class="sh"><%= a.cas_id %></div></td>
    <td width="110">Nombre:</td><td class="ro"><div class="n"><%= a.name %></div></td>
  </tr>
  <tr>
    <td>Tipo de Cobranza:</td><td class="ro"><div class="sh"><%= a.collection_type_name %></div></td>
    <td>Mandante:</td><td class="ro"><div class="n"><%= a.principal_name %></div></td>
  </tr>
  <tr>
    <td>Descripción del Pago:</td><td colspan="4" class="ro"><div class="lg"><%= a.payment_description %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Capital:</td><td class="ro"><div class="sh"><%= number_to_currency(a.capital, :precision => 0, :delimiter => ".") %></div></td>
    <th rowspan=7 width=16></th>
    <td>Producto:</td><td class="ro"><div class="n"><%= a.product_name %></div></td>
  </tr>
  <tr>
    <td>Interés Mora:</td><td class="ro"><div class="sh"><%= number_to_currency(a.arrear_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Número:</td><td class="ro"><div class="n"><%= a.number %></div></td>
  </tr>
  <tr>
    <td>Interés Plazo:</td><td class="ro"><div class="sh"><%= number_to_currency(a.term_interest, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Emisor:</td><td class="ro"><div class="n"><%= a.emitter %></div></td>
  </tr>
  <tr>
    <td>Honorarios:</td><td class="ro"><div class="sh"><%= number_to_currency(a.fee, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Cuenta Corriente:</td><td class="ro"><div class="n"><%= a.ctacte %></div></td>
  </tr>
  <tr>
    <td>Gastos Envío:</td><td class="ro"><div class="sh"><%= number_to_currency(a.shipping_costs, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Vencimiento:</td><td class="ro"><div class="n"><%= a.expir_date %></div></td>
  </tr>
  <tr>
    <td>Gastos Judiciales:</td><td class="ro"><div class="sh"><%= number_to_currency(a.legal_costs, :precision => 0, :delimiter => ".") %>&nbsp;</div></td>
    <td>Boleta N°: </td><td class="ro"><div class="n"><%= a.ballot %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Total a Pagar:</td><td class="ro"><div class="sh"><%= number_to_currency(a.total_pay, :precision => 0, :delimiter => ".") %></div></td>
    <td>Cuota:</td><td class="ro"><div class="sh"><%= a.quota_num %><% if not a.total_q.empty? %> de <%= a.total_q %><% end %>&nbsp;</div></td>
  </tr>
  <% if not a.adjust.nil? %> 
  <tr>
    <td>Ajuste:</td><td class="ro"><div class="pp"><%= number_to_currency(a.adjust, :precision => 0, :delimiter => ".") %></div></td>
    <th rowspan=3 width=16></th>
    <td rowspan="2">Observación ajuste:</td><td class="ro" rowspan="2"><div class="w"><%= a.adjust_obs %>&nbsp;</div></td>
  </tr>
  <tr>
    <td>Nuevo Total a Pagar:</td><td class="ro"><div class="pp"><%= number_to_currency(a.new_total_pay, :precision => 0, :delimiter => ".") %></div></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>Preparado por:</td><td colspan=4 class="ro"><div class="n"><%= a.prepared_by %></div></td>
  </tr>
  <tr>
    <td colspan=3>Entrega documento a deudor:</td><td class="ro"><div class="sn"><% if a.doc_delivery %>Sí<% else %>No<% end %></div></td>
  </tr>
  </table> 
  <hr>
  <% end %>

  <table class="datos">
  <tr>
    <td width="115">Fecha:</td><td><%= f.date_select :date_r %></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td>
    <td><div class="n"><%= f.text_field :total_pay, :size => "8", :value => @total_rp, :readonly => true %></div></td>
  </tr>
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td><td><%= f.collection_select :payment_agreement_id, PaymentAgreement.where('state = true').order('name ASC'), :id, :name, options ={:prompt => "- Seleccione -"} %></td>
  </tr>
  <tr>
    <td>Preparado por:</td>
    <td><div class="n"><%= f.text_field :user_name, :size => "30", :value => current_user.name, :readonly => true %></div></td>
    <td>Teléfono: </td>
    <td><div class="n"><%= f.text_field :telephone_user, :size => "12" , :value => current_user.telephone, :readonly => true %></div></td>
  </tr>
  </table>
  <div class="subtit">
    Datos de Contacto:
  </div>
  <table class="datos">
  <tr>
    <td width="85">Nombre: </td><td><%= f.text_field :cont_name, :size => "37" %></td>
    <th rowspan=20 width=16></th>
    <td width="70">Rut:</td><td><%= f.text_field :cont_rut, :size => "7" %> - <%= f.text_field :cont_digit, :size => "1" %></td>
  </tr>
  <tr>
    <td>Calle:</td><td><%= f.text_field :cont_calle, :size => "37" %></td>
    <td>N° </td><td><%= f.text_field :cont_num, :size => "12" %></td>
  </tr>
  <tr>
    <td>Comuna: </td><td><%= f.collection_select :comuna_id, Comuna.where('state = true').order('name ASC'), :id, :name, options ={:prompt => "- Seleccione -"} %></td>
    <td>N° Depto.:</td><td><%= f.text_field :cont_depto, :size => "12" %></td>
  </tr>
  <tr>
    <td>Referencias:</td><td colspan=4><%= f.text_field :cont_ref, :size => "67" %></td>
  </tr>
  <tr>
    <td>Horario: </td><td><%= f.text_field :cont_hr, :size => "37" %></td>
    <td>Teléfono 1: </td><td><%= f.text_field :cont_telf1, :size => "12" %></td>
  </tr>
  <tr>
    <td>Teléfono 2: </td><td><%= f.text_field :cont_telf2, :size => "12" %></td>
    <td>Teléfono 3: </td><td><%= f.text_field :cont_telf3, :size => "12" %></td>
  </tr>
  </table>

  <div class="subtit">
    Detalle del Pago:
  </div>
    <table class="datos">
    <tr>
      <th width="120">Forma de Pago</th>
      <th width="245">Emisor</th>
      <th width="118">N° Documento</th>
      <th>Monto</th>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago1, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor1, :size => "35" %></td>
      <td><%= f.text_field :docnum1, :size => "16" %></td>
      <td><%= f.text_field :monto1, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago2, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor2, :size => "35" %></td>
      <td><%= f.text_field :docnum2, :size => "16" %></td>
      <td><%= f.text_field :monto2, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago3, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor3, :size => "35" %></td>
      <td><%= f.text_field :docnum3, :size => "16" %></td>
      <td><%= f.text_field :monto3, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago4, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor4, :size => "35" %></td>
      <td><%= f.text_field :docnum4, :size => "16" %></td>
      <td><%= f.text_field :monto4, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago5, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor5, :size => "35" %></td>
      <td><%= f.text_field :docnum5, :size => "16" %></td>
      <td><%= f.text_field :monto5, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago6, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :emisor6, :size => "35" %></td>
      <td><%= f.text_field :docnum6, :size => "16" %></td>
      <td><%= f.text_field :monto6, :size => "8" %></td>
    </tr>
    <tr>
      <td colspan=2></td>
      <th>Total Pagado:</th>
      <td><div class="n"><%= f.text_field :total_paid, :size => "8", :value => @total_paid, :readonly => true %></div></td>
    </tr>
    </table>

  <div class="actions">
    <%= f.submit "Cerrar Recibo de Pago" %>
  </div>

<% end %>
</td></tr></table>

