<seccion>
  <table>
  <tr>
    <th><%= link_to "N° Ticket", :sort => "id" %></th>
    <th><%= link_to "Rut", :sort => "rut" %></th>
    <th><%= link_to "Nombre Deudor", :sort => "name" %></th>
    <th><%= link_to "Mandante", :sort => "principal_id" %></th>
    <th><%= link_to "Producto", :sort => "product_id" %></th>
    <th><%= link_to "Identificador", :sort => "cas_id" %></th>
    <th><%= link_to "Capital", :sort => "capital" %></th>
    <th><%= link_to "Ejecutivo Cobranza", :sort => "prepared_by" %></th>
    <th>Selec</th>
    <th colspan=2></th>
  </tr>
  <% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.id %></td>
    <td><%= ticket.rut %>-<%= ticket.digit %></td>
    <td><%= ticket.name %></td>
    <td><%= ticket.principal.name %></td>
    <td><%= ticket.product.name %></td>
    <td><%= ticket.cas_id %></td>
    <td><%= number_to_currency(ticket.capital, :precision => 0, :delimiter => ".") %></td>
    <td><%= ticket.prepared_by %></td>
    <td><%= check_box_tag "receipt[ticket_ids][]", ticket.id %></td>
    <td><%= link_to 'Ver', ticket %></td>
    <td><%= link_to 'Editar', edit_ticket_path(ticket) %></td>
  </tr>

  <% end %>
  </table>


</seccion>
<botones>
  <%= link_to 'Crear Recibo de Pago', new_receipt_path, :r => 2 %>

  <%= link_to 'Crear Recibo de Pago', :controller => "receipts", :action => "new", :r => "[2,3]" %>

  <%= render 'shared/pp_ejc_dsg' %>
</botones>
