<div class="seccion">
<table><tr><td class="marco">
  <%= form_for(@receipt) do |f| %>
    <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>
     
    <table class="formulario">
    <tr>
      <td width="130">Recibo de Pago N°:</td><td class="ro"><div class="sh"><%= @receipt.id %></div></td>
      <th rowspan=20 width=16></th>
      <td width="110">Estado:</td><td class="ro"><div class="n"><%= @receipt.state %></div></td>
    </tr>
    </table>
    <hr>
     
    <% @tickets.each do |a| %><table class="formulario"><%= render "tickets", :a => a %><% end %>
    
    <table class="formulario">
    <tr>
      <td>Acuerdo de Pago: &nbsp;</td><td class="ro"><div class="n"><%= @receipt.payment_agreement_name %></div></td>
      <th rowspan=20 width=30></th>
      <td>Total a Pagar: &nbsp;</td><td class="ro"><div class="sh"><%= number_to_currency(@receipt.total_pay, :precision => 0, :delimiter => ".") %></div></td>
    </tr>
    <tr>
      <td>Fecha de Pago:</td>
      <% if current_user.profile_id==1 %>  
        <td class="ro"><%= f.date_select :date_r, :order => [:day, :month, :year] %></td>
      <% elsif current_user.profile_id==2 %>   
        <td class="ro"><div class="sh"><%= @receipt.date_r.strftime("%d/%m/%Y") %></div></td>
      <% end %>
    </tr>
    <tr>
      <td>Preparado por:</td><td class="ro"><div class="n"><%= @receipt.user_name %></div></td>
      <td>Teléfono: </td><td class="ro"><div class="sh"><%= @receipt.telephone_user %>&nbsp;</div></td>
    </tr>
    </table>
    
    <!-- inicio DATOS DE CONTACTO -->
    <!-- Solo para Flujo de Pago 2 (RP por Completar) y 3 (RP con Gestion Terreno) -->
    <% if (@receipt.payment_flow_id==2 or @receipt.payment_flow_id==3)%>
      <div class="subtit">
        Datos de Contacto:
      </div>
      <table class="formulario">
        <%= render "datos_contacto", :f => @receipt unless @receipt.state=="rechazado"%>
        <%= render "datos_contacto_edit", :f => f unless @receipt.state!="rechazado"%>
      </table>
    <% end %>
    <!-- fin DATOS DE CONTACTO -->
    
    <% if current_user.profile_id==1 %>  
      <!-- Solo para Flujo de Pago 2 (RP por Completar) y 1 (RP Completo) -->
      <% if (@receipt.payment_flow_id==1 or @receipt.payment_flow_id==2)%>
        <div class="subtit">
          Detalle del Pago:
        </div>
        <%= render "detalle_edit", :f => f %>
      <% end %>
    <% elsif current_user.profile_id==2 %>   
      <div class="subtit">
        Detalle del Pago:
      </div>
      <table class="formulario"><%= render "detalle_show", :f => @receipt %></table>
    <% end %>

    <!-- ----------------- Ingreso Rechazado -------------------- -->
    <% if @receipt.state=='recepcionado' %> 
        <hr>
        <table class="formulario">
        <tr>
          <td>Si Recibo de Pago es Rechazado, ingrese motivo: <br>
          <%= f.text_area :rech_mtvo, :size => "75x1" %>
          </td>
        </tr>
        </table>
    <% end %>
    <!-- -----------------fin Ingreso Rechazado -------------------- -->

    <!-- ----------------- Ver datos Rechazado -------------------- -->
      <% if @receipt.state=='rechazado' %> 
        <hr>
        <table class="formulario">
        <tr>
          <td colspan="2">Recibo de Pago Rechazado</td>
          <th rowspan=2 width=16></th>
          <td>Rechazado por:</td>
          <td class="ro"><div class="n"><%= @receipt.rech_by %></div></td>
        </tr>
        <tr>
          <td>Fecha Rechazo:</td>
          <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%d/%m/%Y") %></div></td>
          <td rowspan=2>Motivo:</td>
          <td rowspan=2 class="ro"><div class="nh"><%= @receipt.rech_mtvo %></div></td>
        </tr>
        <tr>
          <td>Hora Rechazo:</td>
          <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%H:%M") %> hrs.</div></td>
        </tr>
        </table>
      <% end %>
    <!-- -----------------fin Ver datosRechazado -------------------- -->
        
    <div class="actions">
      <% if current_user.profile_id==1 %>  <!-- ----------  Cobranza ---------- -->
        <%= f.submit "Cerrar Recibo de Pago", :name=>"cerrar_button" unless @receipt.state=="rechazado"%>
        <%= f.submit "Corregir", :name=>"corregir_button" unless @receipt.state!="rechazado"%> 
      <% elsif current_user.profile_id==2 %> 
        <div class="botones"><%= link_to 'Cerrar Recibo de Pago', :controller => "receipts", :action => "ntc", :acc => 'confirmar', :id => @receipt.id  unless @receipt.state!="recepcionado" %>
        <%= f.submit "Rechazar Recibo de Pago", :name=>"rechazar_sup_ejc_button" unless @receipt.state!="recepcionado"%> </div>
      <% end %>
    </div>
  <% end %>
</td></tr></table>
</div>

<div class="botones">
  <% if current_user.profile_id==1 %>  <!-- ----------  Cobranza ---------- -->
    <%= link_to "Cancelar", :controller => "sessions", :action => "ejc" %> 
  <% elsif current_user.profile_id==2 %> 
    <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %>
  <% end %>
</div> 

