<div class="seccion">
<table><tr><td class="formulario">
<%= form_for(@receipt) do |f| %>
  <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>

  <table class="display">
  <tr>
    <td width="130">Recibo de Pago N°:</td><td class="ro"><div class="sh"><%= @receipt.id %></div></td>
    <th rowspan=20 width=16></th>
    <td width="110">Estado:</td><td class="ro"><div class="n"><%= @receipt.state %></div></td>
  </tr>
  </table>
  <hr>

  <%= render "tickets" %>

  <table class="display">
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td><td class="ro"><div><%= @receipt.payment_agreement_name %></div></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td><td class="ro"><div class="sh"><%= number_to_currency(@receipt.total_pay, :precision => 0, :delimiter => ".") %></div></td>
  </tr>
  <tr>
    <td>Fecha de Pago:</td><td class="ro"><%= f.date_select :date_r, :order => [:day, :month, :year] %></td>
  </tr>
  <tr>
    <td>Preparado por:</td><td class="ro"><div class="n"><%= @receipt.user_name %></div></td>
    <td>Teléfono: </td><td class="ro"><div class="sh"><%= @receipt.telephone_user %>&nbsp;</div></td>
  </tr>
  </table>

<!-- inicio DATOS DE CONTACTO -->
<!-- Solo para Flujo de Pago 2 (RP por Completar) y 3 (RP con Gestion Terreno) -->
<% if (@receipt.payment_flow_id==2 or @receipt.payment_flow_id==3)%>
  <div class="subtit">
    Datos de Contacto:
  </div>
  <%= render "datos_contacto", :f => @receipt %>
<% end %>
<!-- fin DATOS DE CONTACTO -->

<!-- No para Acuerdo Pago: con gestion en terreno -->
  <% if @receipt.state!="solicita gestion terreno" %>
  <div class="subtit">
    Detalle del Pago:
  </div>
    <table class="datos">
    <tr>
      <th width="120">Forma de Pago</th>
      <th width="245">Emisor</th>
      <th width="118">N° Documento</th>
      <th>Monto</th>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago1, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor1, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum1, :size => "16" %></td>
      <td><%= f.text_field :monto1, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago2, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor2, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum2, :size => "16" %></td>
      <td><%= f.text_field :monto2, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago3, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor3, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum3, :size => "16" %></td>
      <td><%= f.text_field :monto3, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago4, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor4, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum4, :size => "16" %></td>
      <td><%= f.text_field :monto4, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago5, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor5, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum5, :size => "16" %></td>
      <td><%= f.text_field :monto5, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago6, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor6, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum6, :size => "16" %></td>
      <td><%= f.text_field :monto6, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago7, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor7, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum7, :size => "16" %></td>
      <td><%= f.text_field :monto7, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago8, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor8, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum8, :size => "16" %></td>
      <td><%= f.text_field :monto8, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago9, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor9, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum9, :size => "16" %></td>
      <td><%= f.text_field :monto9, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago10, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor10, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum10, :size => "16" %></td>
      <td><%= f.text_field :monto10, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago11, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor11, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum11, :size => "16" %></td>
      <td><%= f.text_field :monto11, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago12, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor12, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum12, :size => "16" %></td>
      <td><%= f.text_field :monto12, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago13, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor13, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum13, :size => "16" %></td>
      <td><%= f.text_field :monto13, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago14, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor14, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum14, :size => "16" %></td>
      <td><%= f.text_field :monto14, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago15, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor15, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum15, :size => "16" %></td>
      <td><%= f.text_field :monto15, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago16, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor16, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum16, :size => "16" %></td>
      <td><%= f.text_field :monto16, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago17, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor17, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum17, :size => "16" %></td>
      <td><%= f.text_field :monto17, :size => "8" %></td>
    </tr>
    <tr>
      <td><%= f.collection_select :formapago18, PaymentForm.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.collection_select :emisor18, Emitter.where('state = true').order('name ASC'), :name, :name, options ={:prompt => "- Seleccione -"} %></td>
      <td><%= f.text_field :docnum18, :size => "16" %></td>
      <td><%= f.text_field :monto18, :size => "8" %></td>
    </tr>
    </table>
  <% end %>

  <div class="actions">
    <%= f.submit "Cerrar Recibo de Pago"%> 
  </div>

<% end %>
</td></tr></table>
</div>

<div class="botones">
  <%= link_to "Cancelar", :controller => "sessions", :action => "ejc" %> 
</div> 

