<div class="seccion">
  <% if not @msg.nil? %>
  <table><tr><td class="marco">
    <p id="notice"><%= @msg %></p>
  </td></tr></table>  
  <div class="nbsp"></div>
  <% end %>

  <div class="subtit">
    <% if @accion=="rend" %>
      Recibos de Pago para ser rendidos a Supervisor:
    <% elsif @accion=="rech" %>
      Recibos de Pago Rechazados por Supervisor:
    <% elsif @accion=="recht" %>
      Recibos de Pago Rechazados por Terreno:
    <% end %>
  </div>
  <% form_tag ejc_edit_multiple_receipts_path do %>
    <table class="index">
      <tr>
        <th>N째 RP</th>
        <th>N째 Ticket</th>
        <th>Rut</th>
        <th>Identificador</th>
        <th>Mandante</th>
        <th>Producto</th>
        <th>Fecha de Pago</th>
        <% if @accion!="recht"%>
          <th>Total Pagado</th>
        <% end %>
        <% if @accion=="rech" or @accion=="recht"%>
          <th>Fecha Rechazo</th>
        <% end %>
        <% if @accion!="recht"%>
          <th>selecc.</th>
        <% end %>
        <th></th>
      </tr>
      <% if @receipts1.empty? %> 
        <% if @accion=="rend" %>
          <tr><td colspan=10>No se han encontrado Recibos de Pago para ser Rendidos a Supervisor.</td></tr>
        <% elsif @accion=="rech"%>
          <tr><td colspan=11>No se han encontrado Recibos de Pago Rechazados por Supervisor.</td></tr>
        <% elsif @accion=="recht"%>
          <tr><td colspan=11>No se han encontrado Recibos de Pago Rechazados por Terreno.</td></tr>
        <% end %>        
      <% else %>
      <% @receipts1.each do |receipt| %>
        <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
        <tr>
          <td><%= receipt.id %></td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.id %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.rut %>-<%= p.digit %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.cas_id %><br>
            <% end %>
          </td>
          <td><%= @tickets.first.principal_name %></td>
          <td><%= @tickets.first.product_name %></td>
          <td><%= receipt.date_r.strftime("%d/%m/%Y")  %></td>
          <% if @accion!="recht"%>
            <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") unless receipt.total_paid.nil?%></td>
          <% end %>     
          <% if @accion=="rech" or @accion=="recht"%>
            <td><%= receipt.rech_date.strftime("%d/%m/%Y") %></td>
          <% end %>  
          <% if @accion!="recht"%>
            <td><%= check_box_tag "receipt_ids[]", receipt.id %></td>
          <% end %>   
          <td><%= link_to 'Ver', receipt %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    <% if not @receipts1.empty? %> 
      <div class="botones">
        <%= submit_tag "Rendir Recibos de Pago", :name => "rendir_button" unless @accion!="rend"%>
        <%= submit_tag "Aceptar Recibos de Pago", :name => "aceptar_button" unless @accion!="rech"%>
      </div>
    <% end %>
  <% end %>

  <% if @accion!="recht" %>
   <div class="nbsp"></div>
   <hr>
   <div class="subtit">
    <% if @accion=="rend" %>
      Recibos de Pago rendidos a Supervisor, en espera de su recepci&oacute;n:
    <% elsif @accion=="rech" %>
      Recibos de Pago para Aceptar/Corregir:
    <% end %>    
   </div>
   <table class="index">
     <tr>
       <th>N째 RP</th>
       <th>N째 Ticket</th>
       <th>Rut</th>
       <th>Identificador</th>
       <th>Mandante</th>
       <th>Producto</th>
       <th>Fecha Pago</th>
       <th>Total Pagado</th>
       <% if @accion=="rech"%><th>Fecha Rechazo</th><th></th><% end %>
     </tr>
     <% if @receipts2.empty?%> 
       <tr><td colspan=10>No se han encontrado Recibos de Pago rendidos en espera de recepcion.</td></tr>
     <% else %>
       <% @receipts2.each do |receipt| %>
         <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
         <tr>
           <td><%= receipt.id %></td>
           <td>
             <% @tickets.each  do |p| %>
               <%= p.id %><br>
             <% end %>
           </td>
           <td>
             <% @tickets.each  do |p| %>
               <%= p.rut %>-<%= p.digit %><br>
             <% end %>
           </td>
           <td>
             <% @tickets.each  do |p| %>
               <%= p.cas_id %><br>
             <% end %>
           </td>
           <td><%= @tickets.first.principal_name %></td>
           <td><%= @tickets.first.product_name %></td>
           <td><%= receipt.date_r.strftime("%d/%m/%Y") %></td>
           <td><%= number_to_currency(receipt.total_pay, :precision => 0, :delimiter => ".") %></td>
           <% if @accion=="rech"%>
             <td><%= receipt.rech_date.strftime("%d/%m/%Y") %></td>
             <td><%= link_to 'Ver', receipt%></td>
           <% end %>     
         </tr>
       <% end %>
       <% if (not @receipts2.empty?) and @accion=="rend"%> 
         <tr>
           <th colspan="6"></th>
           <th>Total:</th>
           <td><%= number_to_currency(@total, :precision => 0, :delimiter => ".") %></td>  
         </tr>
       <% end %>
     <% end %>
   </table>
  <% end %>
</div>

<div class="botones">
  <%= render 'shared/pp_ejc_dsg' %>
</div>
