<div class="seccion">
  <% if not @msg.nil? %>
  <table><tr><td class="marco">
    <p id="notice"><%= @msg %></p>
  </td></tr></table>  
  <div class="nbsp"></div>
  <% end %>

  <div class="subtit">
    <% if @accion=="rend" %>
      Recibos de Pago para ser rendidos a Tesorer&iacute;a:
    <% elsif @accion=="rechts" %>
      Recibos de Pago Rechazados por Tesorer&iacute;a:
    <% end %>
  </div>
  <% form_tag ger_edit_multiple_receipts_path do %>
    <table class="index">
      <tr>
        <th>N° RP</th>
        <th>N° Ticket</th>
        <th>Rut</th>
        <!-- <th>Ident.</th> -->
        <th>Mandante</th>
        <th>Producto</th>
        <th>Fecha de Pago</th>
        <th>Total Pagado</th>
        <% if @accion=="rechts"%>
          <th>Fecha Rechazo</th>
        <% end %>
        <th>selecc.</th>
        <th></th>
      </tr>
      <% if @receipts1.empty? %> 
        <% if @accion=="rend" %>
          <tr><td colspan=10>No se han encontrado Recibos de Pago para ser Rendidos a Tesorer&iacute;a.</td></tr>
        <% elsif @accion=="rechts"%>
          <tr><td colspan=11>No se han encontrado Recibos de Pago Rechazados por Tesorer&iacute;a.</td></tr>
        <% end %>        
      <% else %>
      <% @receipts1.each do |receipt| %>
        <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
        <tr>
          <td><%= receipt.id %></td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.id %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.rut %>-<%= p.digit %><br>
            <% end %>
          </td>
          <td><%= @tickets.first.principal_name %></td>
          <td><%= @tickets.first.product_name %></td>
          <td><%= receipt.date_r.strftime("%d/%m/%Y")  %></td>
          <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") unless receipt.total_paid.nil?%></td>
          <% if @accion=="rechts"%>
            <td><%= receipt.rech_date.strftime("%d/%m/%Y") %></td>
          <% end %>     
          <td><%= check_box_tag "receipt_ids[]", receipt.id %></td>
          <td><%= link_to 'Ver', receipt %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    <% if not @receipts1.empty? %> 
      <div class="botones">
        <%= submit_tag "Rendir Recibos de Pago", :name => "rendir_button" if @accion=="rend"%>
        <%= submit_tag "Aceptar Recibos de Pago", :name => "aceptar_tsr_button" if @accion=="rechts"%>
      </div>
    <% end %>
  <% end %>

   <div class="nbsp"></div>
   <hr>
   <div class="subtit">
     <% if @accion=="rend" %>
       Recibos de Pago rendidos a Tesorer&iacute;a, en espera de su recepci&oacute;n:
     <% elsif @accion=="rechts" %>
       Recibos de Pago para Aceptar/Corregir:
     <% end %>        
   </div>
   <table class="index">
     <tr>
       <th>N° RP</th>
       <th>N° Ticket</th>
       <th>Rut</th>
       <!-- <th>Ident.</th> -->
       <th>Mandante</th>
       <th>Producto</th>
       <th>Fecha Pago</th>
       <th>Total Pagado</th>
       <% if @accion=="rechts"%><th>Fecha Rechazo</th><th></th><% end %>
     </tr>
     <% if @receipts2.empty?%> 
       <tr>
        <% if @accion=="rend" %>
          <td colspan="10">No se han encontrado Recibos de Pago rendidos en espera de recepci&oacute;n.</td>
        <% elsif @accion=="rechts" %>
          <td colspan="10">No se han encontrado Recibos de Pago para Aceptar/Corregir.</td>
        <% end %>        
       </tr>
     <% else %>
       <% @receipts2.each do |receipt| %>
         <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
         <tr>
           <td><%= receipt.id %></td>
           <td>
             <% @tickets.each  do |p| %>
               <%= p.id %><br>
             <% end %>
           </td>
           <td>
             <% @tickets.each  do |p| %>
               <%= p.rut %>-<%= p.digit %><br>
             <% end %>
           </td>
           <td><%= @tickets.first.principal_name %></td>
           <td><%= @tickets.first.product_name %></td>
           <td><%= receipt.date_r.strftime("%d/%m/%Y") %></td>
           <td><%= number_to_currency(receipt.total_pay, :precision => 0, :delimiter => ".") %></td>
           <% if @accion=="rechts"%>
             <td><%= receipt.rech_date.strftime("%d/%m/%Y") %></td>
             <td><%= link_to 'Ver', receipt%></td>
           <% end %>     
         </tr>
       <% end %>
       <% if (not @receipts2.empty?) and (@accion=="rend")%> 
         <tr>
           <th colspan="5"></th>
           <th>Total:</th>
           <td><%= number_to_currency(@total, :precision => 0, :delimiter => ".") %></td>  
         </tr>
       <% end %>
     <% end %>
   </table>
</div>

<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => 'ger' %>
</div>
