<div class="seccion">

<table><tr><td class="formulario">
<% form_tag({:controller => :receipts, :action => :index}, :method => :get) do %>
  <table class="display">
  <tr>
    <td>
      Area:  <%= select_tag('area', options_for_select([['Todas'], ['Cobranza'], ['Terreno'], ['Supervisor']], :selected => @area))%>
    </td>
    <td>
      Estado: <%= select_tag('estado', 
      options_for_select([['Todos'], 
                          ['abierto'], 
                          ['cerrado por cobranza'], 
                          ['solicita gestion terreno'], 
                          ['rinde cobranza a supervisor'], 
                          ['acepta cobranza rechazo supervisor'], 

                          ['envia a terreno'], 
                          ['acepta supervisor rechazo terreno'], 
                          ['recepciona supervisor a terreno'], 
                          ['recepciona supervisor a cobranza'], 
                          ['rechaza supervisor a cobranza'], 
                          ['cerrado por supervisor'], 

                          ['recepciona terreno'], 
                          ['rechaza terreno'], 
                          ['rinde terreno a supervisor'], 
                          ['acepta terreno rechazo supervisor'] ], :selected => @estado))%>
    </td>
    <td rowspan=2>
      <div class="boton"><%= submit_tag "Filtrar", :state => 'nil' %></div>
    </td>
  </tr>  
  <tr>
    <td colspan=2>
      Rango de Fechas: 
       <%= text_field_tag :f3 %> - 
       <%= text_field_tag :f4  %> 
       <!-- <%= text_field_tag :f2, :size => "10", :value => Time.now.strftime("%d-%b-%Y")  %> -->
      <br>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      dd/mm/aaaa Ej.: <%= @t.strftime("%d") %>/<%= @t.strftime("%m") %>/<%= @t.strftime("%Y") %>
    </td>
  </tr>  
  </table>
<% end %>
</td></tr></table>

<div class="nbsp"></div>

<table>
  <tr>
    <th>N° RP</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>N° Ticket</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Capital</th>
    <th>T Pagado</th>
    <th></th>
  </tr>
  <% if @receipts.empty? %>
  <tr>
    <td colspan= 11>No se han encontrado Recibos de Pago con el filtro seleccionado.</td>
  </tr>  
  <% else %>
    <% @receipts.each do |receipt| %>
      <% cont=true %>
      <%  for a in Ticket.where("receipt_id", receipt.id) %>
        <tr>
          <td><% if cont==true %><%= receipt.id %><% end %></td>
          <td><% if cont==true %><%= receipt.date_r %><% end %></td>
          <td><% if cont==true %><%= receipt.state %><% end %></td>
          <td><%= a.id %></td>
          <td><%= a.rut %> - <%= a.digit %></td>
          <td><%= a.cas_id %></td>
          <td><%= a.principal_id %></td>
          <td><%= a.product_id %></td>
          <td><%= a.capital %></td>
          <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") %>
          <td><% if cont==true %><%= link_to 'Ver', receipt %><% end %></td>
        </tr>
        <% cont=false %>
      <% end %>
    <% end %>
  <% end %>
</table>
</div>

<div class="botones">
  <%= render 'shared/pp_ejc_dsg' %>
</div>

