<div class="seccion">

<table><tr><td class="formulario">
<% form_tag({:controller => :supervisor, :action => :stlist}, :method => :get) do %>
  <table class="display">
  <tr>
    <td>
      Area:  <%= select_tag('f1', options_for_select([['Todas'], ['Cobranza'], ['Terreno'], ['Supervisor']]))%>
    </td>
    <td>
      Estado: <%= select_tag('f2', 
      options_for_select([['Todos'], 
                          ['abierto'], 
                          ['cerrado por cobranza'], 
                          ['solicita gestion terreno'], 
                          ['rinde cobranza a supervisor'], 
                          ['acepta cobranza rechazo supervisor'], 

                          ['envia a terreno'], 
                          ['acepta supervisor rechazo terreno'], 
                          ['recepciona supervisor a terreno'], 
                          ['recepciona supervisor a cobranza'], 
                          ['rechaza supervisor a cobranza'], 
                          ['cerrado por supervisor'], 

                          ['recepciona terreno'], 
                          ['rechaza terreno'], 
                          ['rinde terreno a supervisor'], 
                          ['acepta terreno rechazo supervisor'] ]))%>
    </td>
    <td rowspan=2>
      <div class="boton"><%= submit_tag "Filtrar", :state => 'nil' %></div>
    </td>
  </tr>  
  <tr>
    <td colspan=2>
      Rango de Fechas: 
       <%= text_field_tag :f3 %> - 
       <%= text_field_tag :f4  %> 
       <!-- <%= text_field_tag :f2, :size => "10", :value => Time.now.strftime("%d-%b-%Y")  %> -->
      <br>
      dd/mm/aaaa Ej.: <%= @t.strftime("%d") %>/<%= @t.strftime("%m") %>/<%= @t.strftime("%Y") %>
    </td>
  </tr>  
  </table>
<% end %>
</td></tr></table>

<div class="nbsp"></div>

<table>
  <tr>
    <th>N° RP</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Capital</th>
    <th>T Pagado</th>
    <th></th>
  </tr>
<% @receipts.each do |receipt| %>
  <% cont=true %>
  <%  for a in Ticket.where("receipt_id", receipt.id) %>
    <tr>
      <td><% if cont? %><%= receipt.id %><% end %></td>
      <td><%= receipt.date_r %></td>
      <td><%= receipt.state %></td>
      <td><%= a.rut %> - <%= a.digit %></td>
      <td><%= a.cas_id %></td>
      <td><%= a.principal_id %></td>
      <td><%= a.product_id %></td>
      <td><%= a.capital %></td>
      <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") %>
      <td><%= link_to 'Ver', receipt %></td>
    </tr>
    <% cont=false %>
  <% end %>

<% end %>
</table>
</div>

<div class="botones">
  <%= render 'shared/pp_ejc_dsg' %>
</div>

