<seccion>
<table>
  <tr>
    <th>N° RP</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Capital</th>
    <th>T Pagado</th>
    <th></th>
  </tr>
<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.id %></td>
    <td><%= receipt.date_r %></td>
    <td><%= receipt.state %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Ver', receipt %></td>
  </tr>
<% end %>
</table>
</seccion>

<botones>
  <%= render 'shared/pp_ejc_dsg' %>
</botones>

