<div class="seccion">
<table><tr><td class="formulario">
<%= form_for(@receipt) do |f| %>
  <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>
  <%= render "tickets" %>
  <%= render "#{@receipt.current_step}_step", :f => f %>

  <div class="actions"><%= f.submit "Continuar", :name => "next_button" unless @receipt.last_step?%></div>

  <!-- Solo para Flujo de Pago 2 y 3 -->
  <% if (@payment_flow==2 or @payment_flow==3)%>
    <div class="actions"><%= f.submit "Grabar", :name => "rec_button" unless @receipt.first_step?%></div>
  <% end %>
  <!-- Solo para Flujo de Pago 1 -->
  <% if (@payment_flow==1)%>
    <div class="actions"><%= f.submit "Cerrar Recibo de Pago", :name => "rec_button" unless @receipt.first_step?%></div>
  <% end %>

<% end %>
</td></tr></table>
</div>

<div class="botones">
  <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" %> 
</div>

