<div class="seccion">
<table><tr><td class="marco">
<%= form_for(@receipt) do |f| %>
  <%= render "shared/error_messages", :target => @receipt, :text => "el Recibo de Pago" %>
formas: @pay_p: <%= @pay_p %> <br>@ppid:<%= @ppid %> - <%= @formas %> - 
<%= @payment_form_list %><p>


  <% @tickets.each do |a| %><%= render "tickets", :a => a, :clase=>"formulario" %><% end %>

  <%= render "#{@receipt.current_step}_step", :f => f, :formas=>@formas %>

  <div class="botones"><%= f.submit "Continuar", :name => "next_button" unless @receipt.last_step?%></div>

  <!-- Solo para Flujo de Pago 2 y 3 -->
  <% if (@payment_flow==2 or @payment_flow==3)%>
    <div class="botones"><%= f.submit "Grabar", :name => "rec_button" unless @receipt.first_step?%></div>
  <% end %>
  <!-- Solo para Flujo de Pago 1 -->
  <% if (@payment_flow==1)%>
    <div class="botones"><%= f.submit "Cerrar Recibo de Pago", :name => "rec_button" unless @receipt.first_step?%></div>
  <% end %>

<% end %>
</td></tr></table>
</div>

<div class="botones">
  <% if current_user.profile_id==1 %>
    <% pag = "ejc" %>
  <% elsif current_user.profile_id==2 %>
    <% pag = "sup" %>  
  <% end %>  
  <%= link_to 'Cancelar', :controller => "sessions", :action => pag %>
</div>

