<div class="seccion">
<table><tr><td class="marco">
  <p id="notice">El Recibo de Pago
    <% if not @rp_id.nil? %> 
      N° <%= @rp_id %>
    <% end %>
  <%= @msje %>.</p>
</td></tr></table>  
</div>

<div class="botones">
<% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %> 
<% elsif current_user.profile_id==2 %> <!-- Supervisor -->
  <%= link_to 'Recepcionar Recibos de Pago de Cobranza', :controller => 'receipts', :action=>'sup_recp_cobr' unless (@acc!='confirmar' and @acc!='rechazar')%>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %> 
<% end %> 
</div>

