<div class="seccion">
<table><tr><td class="marco">
  <p id="notice">El Recibo de Pago
    <% if not @rp_id.nil? %> 
      N° <%= @rp_id %>
    <% end %>
  <%= @msje %>.</p>
</td></tr></table>  
</div>

<div class="botones">
<% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->

  <%= link_to "Recibos de Pago Rechazados por Supervisor", :controller => "receipts", :action => "ejc", :ac => "rech" if @rp.state=="solicita anulacion" and @rp.subarea=="Supervisor"%>


  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %> 

<% elsif current_user.profile_id==2 %> <!-- Supervisor -->
  <%= link_to 'Recepcionar Recibos de Pago', :controller => "receipts", :action => "sup", :ac => "recpc" if @rp.subarea=="Cobranza"%> 
  <%= link_to "Recepcionar Recibos de Pago", :controller => "receipts", :action => "sup", :ac => "recpt"  if @rp.subarea=="Terreno"%>
  <%= link_to "Recibos de Pago para Anular", :controller => "supervisor", :action => "sanular" if @rp.state=="anulado"%>

  <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %> 
<% elsif current_user.profile_id==3 %> <!-- Terreno -->
  <%= link_to "Cerrar Recibos de Pago", :controller => "terreno", :action => "trcerr" if @rp.state=="solicita anulacion"%>
  <%= link_to "Recibos de Pago Rechazados", :controller => "receipts", :action => "jtr", :ac => "rech"  if @rp.state=="solicita anulacion"%>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "jtr" %> 

<% elsif current_user.profile_id==4 %> <!-- Tesoreria -->
  <%= link_to 'Página Principal', :controller => "sessions", :action => "tsr" %> 
<% end %> 
</div>

