<div class="seccion">
  <% if not @msg.nil? %>
  <table><tr><td class="marco">
    <p id="notice"><%= @msg %></p>
  </td></tr></table>  
  <div class="nbsp"></div>
  <% end %>
 
  <div class="subtit">
    Recibos de Pago para ser rendidos a Supervisor:
  </div>
  <% form_tag rend_sup_edit_receipts_path do %>
    <table class="index">
      <tr>
        <th>N° RP</th>
        <th>Rut</th>
        <th>Identificador</th>
        <th>Mandante</th>
        <th>Producto</th>
        <th>Fecha Pago</th>
        <th>Total Pagado</th>
        <th>selecc.</th>
        <th></th>
      </tr>
      <% if @receipts.empty? %> 
        <tr><td colspan=10>No se han encontrado Recibos de Pago para ser Rendidos a Supervisor.</td></tr>
      <% else %>
        <% @receipts.each do |receipt| %>
          <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
          <tr>
            <td><%= receipt.id %></td>
            <td>
              <% @tickets.each  do |p| %>
                <%= p.rut %>-<%= p.digit %><br>
              <% end %>
            </td>
            <td>
              <% @tickets.each  do |p| %>
                <%= p.cas_id %><br>
              <% end %>
            </td>
            <td><%= @tickets.first.principal_name %></td>
            <td><%= @tickets.first.product_name %></td>
            <td><%= receipt.date_r.strftime("%d/%m/%Y") %></td>
            <td><%= number_to_currency(receipt.total_pay, :precision => 0, :delimiter => ".") %></td>
            <td><%= check_box_tag "receipt_ids[]", receipt.id %></td>
            <td><%= link_to 'Ver', receipt %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% if not @receipts.empty? %> 
      <div class="actions">
        <%= submit_tag "Rendir Recibos de Pago" %>
      </div>
    <% end %>
  <% end %>

  <div class="nbsp"></div>
  <hr>
  <div class="subtit">
    Recibos de Pago rendidos a Supervisor, en espera de su recepci&oacute;n:
  </div>
  <table class="index">
    <tr>
      <th>N° RP</th>
      <th>Rut</th>
      <th>Identificador</th>
      <th>Mandante</th>
      <th>Producto</th>
      <th>Fecha Pago</th>
      <th>Total Pagado</th>
    </tr>
    <% if @receipts_r.empty?%> 
      <tr><td colspan=10>No se han encontrado Recibos de Pago rendidos en espera de recepcion.</td></tr>
    <% else %>
      <% @receipts_r.each do |receipt| %>
        <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
        <tr>
          <td><%= receipt.id %></td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.rut %>-<%= p.digit %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.cas_id %><br>
            <% end %>
          </td>
          <td><%= @tickets.first.principal_name %></td>
          <td><%= @tickets.first.product_name %></td>
          <td><%= receipt.date_r.strftime("%d/%m/%Y") %></td>
          <td><%= number_to_currency(receipt.total_pay, :precision => 0, :delimiter => ".") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="botones">
  <%= render 'shared/pp_ejc_dsg' %>
</div>
