<div class="seccion">
<table class="index">
  <tr>
    <th>N° RP<!-- <%= sortable "id", "N° RP" %> --></th>
    <th>N° Ticket</th>
    <th>Rut<!-- <%= sortable "rut" %> --></th>
    <th>Identificador<!-- <%= sortable "cas_id", "Identificador" %> --></th>
    <th>Mandante<!-- <%= sortable "principal_id", "Mandante" %> --></th>
    <th>Producto<!-- <%= sortable "product_id", "Producto" %> --></th>
    <th colspan="2"></th>
  </tr>
  <% if @receipts.empty? %> 
    <tr><td colspan=10>No se han encontrado Recibos de Pago para Cerrar.</td></tr>
  <% else %>

   <% @receipts.each do |receipt| %>
    <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
    <tr>
      <td><%= receipt.id %></td>
      <td>
        <% @tickets.each  do |p| %>
         <%= p.id %><br>
        <% end %>
      </td>
      <td>
        <% @tickets.each  do |p| %>
         <%= p.rut %>-<%= p.digit %><br>
        <% end %>
      </td>
      <td>
        <% @tickets.each  do |p| %>
         <%= p.cas_id %><br>
        <% end %>
      </td>
      <td><%= @tickets.first.principal_name %></td>
      <td><%= @tickets.first.product_name %></td>
      <td><%= link_to 'Ver', receipt %></td>
      <td><%= link_to 'Cerrar', edit_receipt_path(receipt)%> </td>
    </tr>
   <% end %>
  <% end %>
</table>
</div>

<div class="botones">
  <% if current_user.profile_id==1 %>
    <% pag = "ejc" %>
  <% elsif current_user.profile_id==2 %>
    <% pag = "sup" %>  
  <% elsif current_user.profile_id==3 %>
    <% pag = "jtr" %>
  <% elsif current_user.profile_id==6 %>
    <% pag = "ger" %>
  <% elsif current_user.profile_id==8 %>
    <% pag = "dsg" %>  
  <% end %>  
  <%= link_to 'Página Principal', :controller => "sessions", :action => pag %>
</div>

