<div class="seccion">
  <% if not @msg.nil? %>
  <table><tr><td class="marco">
    <p id="notice"><%= @msg %></p>
  </td></tr></table>  
  <div class="nbsp"></div>
  <% end %>

  <div class="subtit">
    Recibos de Pago Rechazados por Supervisor:
  </div>
  <% form_tag ejc_edit_multiple_receipts_path do %>
    <table class="index">
      <tr>
        <th>N째 RP</th>
        <th>N째 Ticket</th>
        <th>Rut</th>
        <th>Identificador</th>
        <th>Mandante</th>
        <th>Producto</th>
        <th>Fecha de Pago</th>
        <th>Total Pagado</th>
        <th>Fecha Rechazo</th>
        <th>selecc.</th>
        <th></th>
      </tr>
      <% if @receipts1.empty? %> 
        <tr><td colspan=11>No se han encontrado Recibos de Pago Rechazados por Supervisor.</td></tr>
      <% else %>
      <% @receipts1.each do |receipt| %>
        <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
        <tr>
          <td><%= receipt.id %></td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.id %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.rut %>-<%= p.digit %><br>
            <% end %>
          </td>
          <td>
            <% @tickets.each  do |p| %>
              <%= p.cas_id %><br>
            <% end %>
          </td>
          <td><%= @tickets.first.principal_name %></td>
          <td><%= @tickets.first.product_name %></td>
          <td><%= receipt.date_r.strftime("%d/%m/%Y")  %></td>
          <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") unless receipt.total_paid.nil?%></td>
          <td><%= receipt.rech_date.strftime("%d/%m/%Y")  %></td>
          <td><%= check_box_tag "receipt_ids[]", receipt.id %></td>
          <td><%= link_to 'Ver', receipt %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    <% if not @receipts1.empty? %> 
      <div class="actions">
        <%= submit_tag "Aceptar Recibos de Pago", :name => "aceptar_button" %>
      </div>
    <% end %>
  <% end %>

  <div class="subtit">
    &nbsp;<p>Recibos de Pago Rechazados por Terreno:
  </div>
<table class="index">
  <tr>
    <th>N째 RP</th>
    <th>N째 Ticket</th>
    <th>Rut</th>
    <th>Identificador</th>
    <th>Mandante</th>
    <th>Producto</th>
    <th>Fecha de Pago</th>
    <!-- <th>Total Pagado</th> -->
    <th>Fecha Rechazo</th>
    <th colspan=2></th>
  </tr>
  <% if @receipts2.empty? %> 
    <tr><td colspan=10>No se han encontrado Recibos de Pago Rechazados por Terreno.</td></tr>
  <% else %>
  <% @receipts2.each do |receipt| %>
    <% @tickets = Ticket.where("receipt_id=?", receipt.id) %>
    <tr>
      <td><%= receipt.id %></td>
      <td>
        <% @tickets.each  do |p| %>
          <%= p.id %><br>
        <% end %>
      </td>
      <td>
        <% @tickets.each  do |p| %>
          <%= p.rut %>-<%= p.digit %><br>
        <% end %>
      </td>
      <td>
        <% @tickets.each  do |p| %>
          <%= p.cas_id %><br>
        <% end %>
      </td>
      <td><%= @tickets.first.principal_name %></td>
      <td><%= @tickets.first.product_name %></td>
      <td><%= receipt.date_r.strftime("%d/%m/%Y")  %></td>
      <!-- <td><%= number_to_currency(receipt.total_paid, :precision => 0, :delimiter => ".") unless receipt.total_paid.nil?%></td> -->
      <td><%= receipt.rech_date.strftime("%d/%m/%Y")  %></td>
      <td><%= link_to 'Ver', receipt %></td>
      <td><%= link_to 'Editar', edit_receipt_path(receipt) %></td>
    </tr>
  <% end %>
<% end %>
</table>

</div>

<div class="botones">
  <%= render 'shared/pp_ejc_dsg' %>
</div>

