<div class="seccion">
<table><tr><td class="marco">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>

  <table class="display">
  <tr>
    <td width="130">Recibo de Pago N°:</td><td class="ro"><div class="sh"><%= @receipt.id %></div></td>
    <th rowspan=20 width=16></th>
    <td width="100">Estado:</td><td class="ro"><div class="n"><%= @receipt.state %></div></td>
  </tr>
  </table>
  <hr>

  <% @tickets.each do |a| %><%= render "tickets", :a => a, :clase=>"display" %><% end %>

  <table class="display">
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td><td><div><%= @receipt.payment_agreement_name %></div></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td><td><div class="sh"><%= number_to_currency(@receipt.total_pay, :precision => 0, :delimiter => ".") %></div></td>
  </tr>
  <tr>
    <td>Fecha de Pago:</td><td><div class="sh"><%= @receipt.date_r.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Preparado por:</td><td><div class="n"><%= @receipt.user_name %></div></td>
    <td>Teléfono: </td><td><div class="sh"><%= @receipt.telephone_user %>&nbsp;</div></td>
  </tr>
  </table>

<!-- inicio DATOS DE CONTACTO -->
<!-- Solo para Flujo de Pago 2 (RP por Completar) y 3 (RP con Gestion Terreno) -->
<% if (@receipt.payment_flow_id==2 or @receipt.payment_flow_id==3)%>
  <hr>
  <div class="subtit">
    Datos de Contacto:
  </div>
  <table class="display"><%= render "datos_contacto", :f => @receipt %></table>
<% end %>
<!-- fin DATOS DE CONTACTO -->

<!-- inicio DETALLE DE PAGO -->
<!-- Para estado cerrado o rendido-->
<% if @receipt.total_paid > 0 %>
  <hr>
  <div class="subtit">
    Detalle del Pago:
  </div>
  <table class="display"><%= render "detalle_show", :f => @receipt %></table>
<% end %>
<!-- fin DETALLE DE PAGO -->

<!-- ----------------- Ejecutivo Terreno -------------------- -->
  <% if @receipt.et_name!=nil%> 
    <hr>
    <div class="subtit">
      Gestión en Terreno:
    </div>
    <table class="display">
    <tr>
      <td width="150">Ejecutivo de Terreno: </td>
      <td class="ro"><div class="n"><%= @receipt.et_name %></div></td>
      <td></td>
    </tr>
    </table>
  <% end %>
<!-- -----------------fin Ejecutivo Terreno -------------------- -->

<!-- ----------------- Rechazado -------------------- -->
<% if @receipt.state=='rechazado' or @receipt.state=='recibido rechazo'%> 
  <hr>
  <div class="subtit">
    Recibo de Pago Rechazado:
  </div>
  <table class="display">
  <tr>
    <td>Rechazado por:</td>
    <td class="ro"><div class="n"><%= @receipt.rech_by %></div></td>
    <td>Fecha Rechazo:</td>
    <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Motivo:</td>
    <td class="ro"><div class="n"><%= @receipt.rejection_type.name %></div></td>
    <td>Hora Rechazo:</td>
    <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%H:%M") %> hrs.</div></td>
  </tr>
  <tr>
    <td>Descripción:</td>
    <td colspan=3 class="ro"><div class="lg"><%= @receipt.rech_mtvo %></div></td>
  </tr>
  <tr>
  </tr>
  </table>
<% end %>
<!-- -----------------fin Rechazado -------------------- -->

<!-- ----------------- Anulacion -------------------- -->
<% if (@receipt.state=="solicita anulacion") %> 
  <hr>
  <div class="subtit">
    Recibo de Pago para Anular:
  </div>
  <table class="display">
  <tr>
    <td>Solicitado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_solc_by %></div></td>
  </tr>
  <tr>
    <td>Motivo: </td>
    <td class="ro"><div class="lg"><%= @receipt.canc_mtvo %></div></td>
  </tr>
  </table>
  <div class="nbsp"></div>
  <div class="obs">
    <%= @receipt.cancellation.message %>
  </div>
<% end %>
<% if (@receipt.state=="anulado") %> 
  <hr>
  <div class="subtit">
    Recibo de Pago Anulado:
  </div>
  <table class="display">
  <tr>
    <td>Solicitado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_solc_by %></div></td>
    <td>Fecha Anulación:</td>
    <td class="ro"><div class="sh"><%= @receipt.canc_date.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Anulado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_by %></div></td>
    <td>Hora Anulación:</td>
    <td class="ro"><div class="sh"><%= @receipt.canc_date.strftime("%H:%M") %> hrs.</div></td>
  </tr>
  <tr>
    <td>Motivo: </td>
    <td class="ro" colspan="3"><div class="lg"><%= @receipt.canc_mtvo %></div></td>
  </tr>
  </table>
<% end %>
<!-- -----------------fin Anulacion -------------------- -->

<div class="nbsp"></div>
<div class="botones">
<% if current_user.profile_id==1 %>  <!-- ----------  Cobranza ---------- -->
    <!-- # Flujo de Pago 1 (RP Completo) -->
    <% if @receipt.payment_flow_id==1 %> 
      <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id if @receipt.state=='cerrado'%>
    <% end %>
    <!-- # Flujo de Pago 2 (RP por Completar) -->
    <% if @receipt.payment_flow_id==2 %> 
      <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id unless @receipt.state!='abierto' %>
      <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt) if @receipt.state=='abierto'%>
      <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :edt =>"n2" if @receipt.state=='abierto'%>
    <% end %>
    <!-- # Flujo de Pago 3 (RP con Gestion Terreno) -->
    <% if @receipt.payment_flow_id==3 %> 
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_ejc_jtr', :id => @receipt.id if (@receipt.state=='recibido rechazo' and @receipt.rejection_type_id==2) %>
      <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.state=='recibido rechazo' and @receipt.rejection_type_id==1)%>
      <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :edt =>"n1" if @receipt.state=='recibido rechazo'%>
    <% end %> 

<% elsif current_user.profile_id==2 %> <!-- Supervisor --> 
  <%= link_to 'Cerrar Recibo de Pago', :controller => "receipts", :action => "ntc", :acc => 'cerr_sup', :id => @receipt.id  if @receipt.state=='recepcionado'%>
  <%= link_to 'Rechazar Recibo de Pago', :action => "edit", :id => @receipt.id, :edt => "r"  if @receipt.state=='recepcionado'%>
  <%= link_to 'Ajustar Recibo de Pago', :action => "edit", :id => @receipt.id, :edt => "aj" if (@receipt.state=='abierto' and @receipt.area=="Terreno")%>
   <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_ejc_jtr', :id => @receipt.id if (@receipt.state=='recibido rechazo' and @receipt.rejection_type_id==2) %>
  <%= link_to 'Anular Recibo de Pago', :controller => "receipts", :action => "ntc", :acc => 'anula_sup', :id => @receipt.id  if (@receipt.state=='solicita anulacion' or @receipt.state=='recibido rechazo')%>

<% elsif current_user.profile_id==3 %> <!--  ----------Terreno---------- -->
  <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_jtr_sup', :id => @receipt.id if (@receipt.state=='recibido rechazo' and @receipt.rejection_type_id==3) %>
  <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id if @receipt.state=='abierto' %>
  <%= link_to 'Enviar a Terreno', edit_receipt_path(@receipt) if @receipt.state=='solicita gestion terreno'%>
  <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt) if @receipt.state=='abierto'%>
  <%= link_to 'Rechazar Recibo de Pago', :action => "edit", :id => @receipt.id, :edt => "r"  if @receipt.state=='solicita gestion terreno'%>
  <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.state=='recibido rechazo' and  @receipt.rejection_type_id==4)%>
  <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :edt =>"n3" if @receipt.state=='recibido rechazo'%> <!-- Revisar -->
  <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :edt =>"n2" if @receipt.state=='abierto'%>

<% elsif current_user.profile_id==4 %>  <!-- Tesoreria --> 
  <%= link_to 'Cerrar Recibo de Pago', :controller => "receipts", :action => "ntc", :acc => 'cerr_tsr', :id => @receipt.id  if @receipt.state=='recepcionado'%>
  <%= link_to 'Rechazar Recibo de Pago', :action => "edit", :id => @receipt.id, :edt => "r"  if @receipt.state=='recepcionado'%>

<% end %>
</div>

</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==1 %>  <!-- ----------  Cobranza ---------- -->
    <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "ejc", :ac => "rend" if @receipt.state=='cerrado'%>
    <%= link_to 'Listado de Recibos de Pago', receipts_path %>
    <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>

<% elsif current_user.profile_id==2 %> <!-- Supervisor --> 
  <%= link_to "Listado de Recibos de Pago", :controller => "supervisor", :action => "srlist" %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %>

<% elsif current_user.profile_id==3 %> <!--  ----------Terreno---------- -->
  <%= link_to 'Recibos de Pago Rechazados', :controller => "receipts", :action => "jtr", :ac => "rech" if @receipt.state=='rechazado'%>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "jtr" %>

<% elsif current_user.profile_id==4 %>  <!-- Tesoreria --> 
  <%= link_to 'Página Principal', :controller => "sessions", :action => "tsr" %>

<% elsif current_user.profile_id==8 %> 
  <%= link_to "Listado de Recibos de Pago", dreceipts_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>


