<div class="seccion">
<table><tr><td class="marco">
  <% if not notice.nil? %><p id="notice"><%= notice %></p><% end %>

<!-- ----------------- Mensaje para Anulacion -------------------- -->
<% if (@receipt.state=="solicita anulacion") %> 
  <div class="impt">
    IMPORTANTE: <%= @receipt.cancellation.message %>
  </div>
  <hr>
<% end %>
<!-- --------------- fin Mensaje para Anulacion -------------------- -->

  <table class="display">
  <tr>
    <td width="130">Recibo de Pago N°:</td><td class="ro"><div class="sh"><%= @receipt.id %></div></td>
    <th rowspan=20 width=16></th>
    <td width="100">Estado:</td><td class="ro"><div class="n"><%= @receipt.state %></div></td>
  </tr>
  </table>
  <hr>

  <% @tickets.each do |a| %><%= render "tickets", :a => a, :clase=>"display" %><% end %>

  <table class="display">
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td><td><div><%= @receipt.payment_agreement_name %></div></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td><td><div class="sh"><%= number_to_currency(@receipt.total_pay, :precision => 0, :delimiter => ".") %></div></td>
  </tr>
  <tr>
    <td>Fecha de Pago:</td><td><div class="sh"><%= @receipt.date_r.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Preparado por:</td><td><div class="n"><%= @receipt.user_name %></div></td>
    <td>Teléfono: </td><td><div class="sh"><%= @receipt.telephone_user %>&nbsp;</div></td>
  </tr>
  </table>

<!-- inicio DATOS DE CONTACTO -->
<!-- Solo para Flujo de Pago 2 (RP por Completar) y 3 (RP con Gestion Terreno) -->
<% if (@receipt.payment_flow_id==2 or @receipt.payment_flow_id==3)%>
  <hr>
  <div class="subtit">
    Datos de Contacto:
  </div>
  <table class="display"><%= render "datos_contacto", :f => @receipt %></table>
<% end %>
<!-- fin DATOS DE CONTACTO -->

<!-- inicio DETALLE DE PAGO -->
<!-- Para estado cerrado o rendido-->
<% if @receipt.total_paid > 0 %>
  <hr>
  <div class="subtit">
    Detalle del Pago:
  </div>
  <table class="display"><%= render "detalle_show", :f => @receipt %></table>
<% end %>
<!-- fin DETALLE DE PAGO -->

<!-- ----------------- Ejecutivo Terreno -------------------- -->
  <% if @receipt.et_name!=nil%> 
    <hr>
    <div class="subtit">
      Gestión en Terreno:
    </div>
    <table class="display">
    <tr>
      <td width="150">Ejecutivo de Terreno: </td>
      <td class="ro"><div class="n"><%= @receipt.et_name %></div></td>
      <td></td>
    </tr>
    </table>
  <% end %>
<!-- -----------------fin Ejecutivo Terreno -------------------- -->

<!-- ----------------- Rechazado -------------------- -->
<% if @receipt.state=='rechazado' or @receipt.state=='recibido rechazo'%> 
  <hr>
  <div class="subtit">
    Recibo de Pago Rechazado:
  </div>
  <table class="display">
  <tr>
    <td>Rechazado por:</td>
    <td class="ro"><div class="n"><%= @receipt.rech_by %></div></td>
    <td>Fecha Rechazo:</td>
    <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Motivo:</td>
    <td class="ro"><div class="n"><%= @receipt.rejection_type.name %></div></td>
    <td>Hora Rechazo:</td>
    <td class="ro"><div class="sh"><%= @receipt.rech_date.strftime("%H:%M") %> hrs.</div></td>
  </tr>
  <tr>
    <td>Descripción:</td>
    <td colspan=3 class="ro"><div class="lg"><%= @receipt.rech_mtvo %></div></td>
  </tr>
  <tr>
  </tr>
  </table>
<% end %>
<!-- -----------------fin Rechazado -------------------- -->

<!-- ----------------- Anulacion -------------------- -->
<% if (@receipt.state=="solicita anulacion") %> 
  <hr>
  <div class="subtit">
    Recibo de Pago para Anular:
  </div>
  <table class="display">
  <tr>
    <td>Solicitado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_solc_by %></div></td>
  </tr>
  <tr>
    <td>Motivo: </td>
    <td class="ro"><div class="lg"><%= @receipt.canc_mtvo %></div></td>
  </tr>
  </table>
<% end %>
<% if (@receipt.state=="anulado") %> 
  <hr>
  <div class="subtit">
    Recibo de Pago Anulado:
  </div>
  <table class="display">
  <tr>
    <td>Solicitado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_solc_by %></div></td>
    <td>Fecha Anulación:</td>
    <td class="ro"><div class="sh"><%= @receipt.canc_date.strftime("%d/%m/%Y") %></div></td>
  </tr>
  <tr>
    <td>Anulado por:</td>
    <td class="ro"><div class="n"><%= @receipt.canc_by %></div></td>
    <td>Hora Anulación:</td>
    <td class="ro"><div class="sh"><%= @receipt.canc_date.strftime("%H:%M") %> hrs.</div></td>
  </tr>
  <tr>
    <td>Motivo: </td>
    <td class="ro" colspan="3"><div class="lg"><%= @receipt.canc_mtvo %></div></td>
  </tr>
  </table>
<% end %>
<!-- -----------------fin Anulacion -------------------- -->

<div class="nbsp"></div>
<div class="botones">

<!-- ========================  Cobranza ======================== -->
  <% if current_user.profile_id==1 %>  

    <% if @receipt.state=='abierto' %> 
      <!-- # Flujo de Pago 2 (RP por Completar) -->
      <% if @receipt.payment_flow_id==2 and @receipt.user_name==current_user.name %> 
        <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id %>
        <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt)%>
        <%= link_to 'Solicitar Anulación', :action=>"edit", :id => @receipt.id, :button =>"n2"%>
      <% end %>

    <% elsif @receipt.state=='cerrado' %> 
      <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id if (@receipt.area=='Cobranza' and @receipt.payment_flow_id==1)%>

    <% elsif @receipt.state=='recibido rechazo' %> <!-- # RP Rechazados por Supervisor/Terreno -->
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_ejc_sup', :id => @receipt.id if (@receipt.rejection_type_id==3) %>
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_ejc_jtr', :id => @receipt.id if (@receipt.rejection_type_id==2) %>
      <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.rejection_type_id==1 or  @receipt.rejection_type_id==4)%>
      <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :button =>"n1" if (@receipt.rejection_type_id==1 or @receipt.rejection_type_id==2)%>
      <%= link_to 'Solicitar Anulación', :action => "edit", :id => @receipt.id, :button =>"n3" if (@receipt.rejection_type_id==3 or @receipt.rejection_type_id==4)%>
    <% end %> 

<!-- ========================  Supervisor ======================== -->
  <% elsif current_user.profile_id==2 %> 
  <% @ticket = @tickets.first %>

    <% if @receipt.state=='abierto' %> 
      <!-- # Flujo de Pago 2 (RP por Completar) -->
      <% if @receipt.payment_flow_id==2 %> 
        <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id %>
        <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt) %>
        <%= link_to 'Anular Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button=>"n2"%>
      <% end %>
      <%= link_to 'Ajustar Recibo de Pago', :controller => "tickets", :action => "edit", :id => @ticket.id if (@receipt.area=="Terreno")%>

    <% elsif @receipt.state=='cerrado' %> 
      <!-- # Flujo de Pago 1 (RP Completo) -->
      <%= link_to 'Para Imprimir', :action=>"print", :id => @receipt.id if (@receipt.area=='Supervisor' and @receipt.payment_flow_id==1)%>

    <% elsif @receipt.state=='recepcionado' %> <!-- RP recepcionados -->
      <%= link_to 'Cerrar Recibo de Pago', :controller=>"receipts", :action=>"ntc", :acc=> 'cerr_sup', :id=> @receipt.id%>
      <%= link_to 'Rechazar Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button => "r"%>

    <% elsif @receipt.state=='recibido rechazo' %> <!-- # RP Rechazados por Terreno/Tesoreria -->
      <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.rejection_type_id==4)%>
      <%= link_to 'Devolver a Cobranza', :controller => "receipts", :action => "ntc", :acc => 'dev_cobr', :id => @receipt.id if (@receipt.rejection_type_id==4 and @receipt.profile_create==1 )%>
      <%= link_to 'Devolver a Terreno', :controller => "receipts", :action => "ntc", :acc => 'dev_terr', :id => @receipt.id if @receipt.rejection_type_id==4 and @receipt.payment_flow_id==3%>
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_sup_tsr', :id => @receipt.id if ( @receipt.rejection_type_id==3) %>
      <%= link_to 'Anular Recibo de Pago', :action=>"edit", :id => @receipt.id, :button =>"n3" %>

    <% elsif @receipt.state=='solicita anulacion' %>    
      <%= link_to 'Anular Recibo de Pago', :controller => "receipts", :action => "ntc", :acc => 'anula_sup', :id => @receipt.id %>
      <%= link_to 'Cancelar', :controller => "sessions", :action => "sup" %>
    <% end %> 

<!-- ========================  Terreno ======================== -->
  <% elsif current_user.profile_id==3 %> 

    <% if @receipt.state=='abierto' %> 
      <!-- # Flujo de Pago 2 (RP por Completar) --> 
      <% if @receipt.payment_flow_id==2 and @receipt.profile_create==3%> 
        <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id %>
        <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt)%>
        <%= link_to 'Anular Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button =>"n2"%>
      <!--  # Flujo de Pago 3 (Gestion Terreno) --> 
      <% elsif @receipt.payment_flow_id==3 %> 
        <%= link_to 'Modificar Recibo de Pago', :action => "edit", :id=> @receipt.id, :button =>"m", :id => @receipt.id %>
        <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id %>
        <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt)%>
        <br><br>
        <% if @receipt.profile_create!=3%> 
          <%= link_to 'Rechazar Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button =>"r"%>
          <%= link_to 'Solicitar Anulación', :action=>"edit", :id=> @receipt.id, :button =>"n2"%>
        <% else %>
          <%= link_to 'Anular Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button=>"n2"%>
        <% end %>
      <% end %> 

    <% elsif @receipt.state=='cerrado' %> 
      <!-- # Flujo de Pago 1 (RP Completo) --> 
      <%= link_to 'Para Imprimir', :action =>"print", :id=> @receipt.id  if (@receipt.area=='Terreno' and @receipt.payment_flow_id==1) %>

    <% elsif @receipt.state=='solicita gestion terreno'%>
      <!--  # Flujo de Pago 3 (Gestion Terreno) --> 
      <% if @receipt.payment_flow_id==3 and @receipt.profile_create!=3%> 
        <%= link_to 'Enviar a Terreno', edit_receipt_path(@receipt) %>
        <%= link_to 'Rechazar Recibo de Pago', :action =>"edit", :id=> @receipt.id, :button=>"r"%>
      <% elsif @receipt.payment_flow_id==3 and @receipt.profile_create==3%> 
        <%= link_to 'Enviar a Terreno', edit_receipt_path(@receipt) %>
        <%= link_to 'Modificar Recibo de Pago', :action =>"edit", :id=> @receipt.id, :button=>"md"%>
        <%= link_to 'Anular Recibo de Pago', :action=>"edit", :id=> @receipt.id, :button =>"n1"%>
      <% end %> 

    <% elsif @receipt.state=='recibido rechazo'%>
      <!--  # Flujo de Pago 3 (Gestion Terreno) --> 
      <% if @receipt.payment_flow_id==3 and @receipt.profile_create!=3%> 
        <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_jtr_sup', :id => @receipt.id if @receipt.rejection_type_id==3 %>
        <%= link_to 'Editar', edit_receipt_path(@receipt) if @receipt.rejection_type_id==4 %>
        <%= link_to 'Solicitar Anulación', :action=>"edit", :id=> @receipt.id, :button =>"n3"%>
      <% elsif @receipt.payment_flow_id==3 and @receipt.profile_create==3%>
        <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_jtr_sup', :id => @receipt.id if @receipt.rejection_type_id==3 %>
        <%= link_to 'Editar', edit_receipt_path(@receipt) if @receipt.rejection_type_id==4 %>
        <%= link_to 'Solicitar Anulación', :action=>"edit", :id=> @receipt.id, :button =>"n3"%>
      <% else %><!--  # Flujo de Pago 1 y 2 --> 
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_jtr_tsr', :id => @receipt.id if (@receipt.rejection_type_id==3) %>
      <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.rejection_type_id==1 or  @receipt.rejection_type_id==4)%>
      <%= link_to 'Anular Recibo de Pago', :action => "edit", :id => @receipt.id, :button =>"n1" if (@receipt.rejection_type_id==1 or @receipt.rejection_type_id==2)%>
      <%= link_to 'Anular Recibo de Pago', :action => "edit", :id => @receipt.id, :button =>"n3" if (@receipt.rejection_type_id==3 or @receipt.rejection_type_id==4)%>
      <% end %>

    <% end %> 
            
<!-- ========================  Tesoreria ======================== -->
  <% elsif current_user.profile_id==4 %> 
    <!-- # Recepcion de RP -->
    <% if @receipt.state=='recepcionado'%>
      <%= link_to 'Cerrar Recibo de Pago', :controller=> "receipts", :action=>"ntc", :acc => 'cerr_tsr', :id => @receipt.id%>
      <%= link_to 'Rechazar Recibo de Pago', :action=>"edit", :id => @receipt.id, :button =>"r"%>
    <% end %>


<!-- ========================  Gerencia ======================== -->
  <% elsif current_user.profile_id==6 %>   

    <% if @receipt.state=='abierto' %> 
      <!-- # Flujo de Pago 2 (RP por Completar) -->
      <% if @receipt.payment_flow_id==2 %> 
        <%= link_to 'Para Imprimir', :action => "print", :id => @receipt.id if (@receipt.state=='abierto') %>
        <%= link_to 'Cerrar Recibo de Pago', edit_receipt_path(@receipt) if @receipt.state=='abierto'%>
        <%= link_to 'Anular Recibo de Pago', :action => "edit", :id => @receipt.id, :button =>"n2" if (@receipt.state=='abierto')%>
      <% end %>

    <% elsif @receipt.state=='cerrado' %> 
      <!-- # Flujo de Pago 1 (RP Completo) --> 
      <%= link_to 'Para Imprimir', :action =>"print", :id=> @receipt.id  if (@receipt.area=='Gerencia' and @receipt.payment_flow_id==1) %>

    <% elsif @receipt.state=="recibido rechazo" %>
      <%= link_to 'Aceptar', :controller => "receipts", :action => "ntc", :acc => 'acep_ger_tsr', :id => @receipt.id if (@receipt.rejection_type_id==3) %>
      <%= link_to 'Editar', edit_receipt_path(@receipt) if (@receipt.rejection_type_id==1 or  @receipt.rejection_type_id==4)%>
      <%= link_to 'Anular Recibo de Pago', :action => "edit", :id => @receipt.id, :button =>"n1" if (@receipt.rejection_type_id==1 or @receipt.rejection_type_id==2)%>
      <%= link_to 'Anular Recibo de Pago', :action => "edit", :id => @receipt.id, :button =>"n3" if (@receipt.rejection_type_id==3 or @receipt.rejection_type_id==4)%>

    <% end %>

  <% end %>
</div>

</td></tr></table>
</div>

<div class="botones">
<% if current_user.profile_id==1 %>  <!-- ----------  Cobranza ---------- -->
    <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "ejc", :ac => "rend" if @receipt.state=='cerrado'%>
    <%= link_to 'Listado de Recibos de Pago', receipts_path %>
    <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>

<% elsif current_user.profile_id==2 %> <!-- Supervisor --> 
  <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "sup", :ac => "rend" if @receipt.state=='cerrado'%>
  <%= link_to "Listado de Recibos de Pago", :controller => "supervisor", :action => "srlist" %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "sup" %>

<% elsif current_user.profile_id==3 %> <!--  ----------Terreno---------- -->
  <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "jtr", :ac => "rend" if (@receipt.state=='cerrado' and @receipt.payment_flow_id==3)%>
  <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "jtr", :ac => "rend_tsr" if (@receipt.state=='cerrado' and @receipt.payment_flow_id!=3)%>
  <%= link_to "Listado de Recibos de Pago", :controller => "terreno", :action => "trlist" %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "jtr" %>

<% elsif current_user.profile_id==4 %>  <!-- Tesoreria --> 
  <%= link_to "Listado de Recibos de Pago", :controller => "finance", :action => "frlist" %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "tsr" %>

<% elsif current_user.profile_id==6 %>  <!-- Gerencia --> 
  <%= link_to 'Rendir Recibos de Pago', :controller => "receipts", :action => "ger", :ac => "rend" if @receipt.state=='cerrado'%>
  <%= link_to "Listado de Recibos de Pago", :controller => "manager", :action => "mrlist" %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ger" %>

<% elsif current_user.profile_id==8 %> <!-- Designer -->
  <%= link_to "Listado de Recibos de Pago", dreceipts_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
<% end %>
</div>


