<seccion>
<table><tr><td class="formulario">
  <p id="notice"><%= notice %></p>

  <div class="fieldt-l">
    Total a Pagar:
  </div>
  <div class="field_txt-l">
    <%= @receipt.total_pay %>
  </div>
  <br clear="all">

  <div class="fieldt-l">
    Fecha:
  </div>
  <div class="field_txt-l">
    <%= @receipt.date_r %>
  </div>
  <div class="field_txt-r">
    <%= @receipt.payment_agreement_name %>
  </div>
  <div class="fieldt-r">
    Acuerdo de Pago: 
  </div>
  <br clear="all">

</td></tr></table>
</seccion>

<botones>
  <%= link_to 'Editar', edit_receipt_path(@receipt) %> 
  <%= link_to 'Back', receipts_path %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>
</botones>

