<!DOCTYPE html>
<html>
<head>
  <title><%= titulo_pagina %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'estilos', :media => 'screen' %>
  <%= stylesheet_link_tag 'print',  :media => 'print' %>
  <!--[if lt IE 9]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'ie' %><![endif]-->
</head>
<body>
  <div class="ext"><div class="med"><div class="int">
    <div class="header">
      <%= image_tag("logotm.jpg", :alt => "TechMill - Soluciones Tecnologicas") %> 
      <h3>Recibo de Pago</h3>
    </div>   
    <div class="titulos">
      <%= titulo_principal %> 
      <% if signed_in? %>
        <%= link_to "Salir", salir_path, :method => :delete %>
      <% end %>
    </div>
    <%= yield %>
  </div></div></div>
</body>
</html>

