<!DOCTYPE html>
<html>
<head>
  <title><%= titulo_pagina %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'estilos', :media => 'screen' %>
  <%= stylesheet_link_tag 'print',  :media => 'print' %>
</head>
<body>
  <div class="ext"><div class="med"><div class="int">
   <header>
     <%= image_tag("logotm.jpg", :alt => "TechMill - Soluciones Tecnologicas") %>
     <h3>Recibo de Pago</h3>
   </header>   
   <titulos>
     <%= titulo_principal %> 
     <% if signed_in? %>
        <%= link_to "Salir", salir_path, :method => :delete %>
     <% end %>
   </titulos>

   <%= yield %>
   
  </div></div>

</body>
</html>

