<div class="seccion">
  <table class="index">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Valor</th>
    <th>Descripci&oacute;n</th>
    <th>Estado</th>
    <th></th>
  </tr>
  <% @parameters.each do |p| %>
  <tr>
    <td><%= p.id %></td>
    <td><%= p.name %></td>
    <td><%= p.val_int %><%= p.val_dec %></td>
    <td><%= p.description %></td>
    <td><% if p.state %>Activo<% else %>Inactivo<% end %></td>
    <td><%= link_to 'Ver', p%></td>
  </tr>
  <% end %>
  </table>
</div>

<div class="botones">
  <%= link_to 'Crear Parámetro', new_parameter_path unless current_user.profile_id!=8 %>
  <%= render 'shared/pp_adm_dsg' %>
</div>

